USE [ProjectDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTicket]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi 
-- Create date: 2024-02-12
-- Description:	sp for add tickets
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddTicket] (@@SerialNumber NVARCHAR(MAX), @@TicketRemark NVARCHAR(MAX))
AS
DECLARE @@CustomerID AS INT, @@InventoryID AS INT , @@ScoupIdentityID AS INT;

BEGIN
	SET NOCOUNT ON;

	SELECT @@InventoryID = a.InventoryID ,@@CustomerID = c.CoustomerId FROM [ProjectDB].[dbo].[tblInventoryData] a
	JOIN [ProjectDB].[dbo].[tblSalesDetails] b ON a.InventoryID = b.InventoryId
	JOIN [ProjectDB].[dbo].[tblCoustomerDetails] c ON b.CoustomerId = c.CoustomerId
	WHERE a.SerialNumber = @@SerialNumber

	INSERT INTO [tblTicket] (InventoryID,CoustomerId,TicketDiscription,CreatedDate)
	VALUES (@@InventoryID,@@CustomerID,@@TicketRemark,GETDATE());
	SET @@ScoupIdentityID = SCOPE_IDENTITY();
	
	IF (@@ScoupIdentityID IS NOT NULL)
	BEGIN
		SELECT 1;
	END ELSE
	BEGIN
		SELECT 0;
	END
  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignTicket]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024 02 08
-- Description:	sp for insert Ticket
--  exec  sp_AssignTicket 5,4,3
-- =============================================
CREATE PROCEDURE [dbo].[sp_AssignTicket](@@TicketID INT, @@AssignedTo INT, @@UserID INT)
AS
DECLARE @@ISopen AS BIT, @@TicketProjectDtlId AS INT;

BEGIN
	SET NOCOUNT ON;

	IF(@@TicketID IS NOT NULL AND @@AssignedTo IS NOT NULL AND @@UserID IS NOT NULL OR @@UserID != 0)
	BEGIN

		SELECT @@ISopen =  IsOpen  FROM [ProjectDB].[dbo].[tblTicket] WHERE TicketId = @@TicketID
		IF ( @@ISopen IS NULL OR  @@ISopen = 0)
		BEGIN 
			--Implement from this
			UPDATE [ProjectDB].[dbo].[tblTicket] SET IsOpen=1,OpenedDate=GETDATE()  WHERE TicketId = @@TicketID;


			INSERT INTO [ProjectDB].[dbo].[tblTicketProjectDtl] ([TicketId],[CurrentSeqence],[Active],[CreateDate])
			VALUES (@@TicketID,(SELECT TOP 1 SequanceIndexID FROM [ProjectDB].[dbo].[tblMasterTicketSequnces] ORDER BY SequanceIndexID)+1,1,GETDATE());
			SET @@TicketProjectDtlId = SCOPE_IDENTITY();
			--SELECT @@TicketProjectDtlId

				IF (@@TicketProjectDtlId IS NOT NULL)
				BEGIN
					INSERT INTO [ProjectDB].[dbo].[tblTicketTaskAssign] ([ticketProjectId],[AssignedFrom],[AssignedTo],[AssignedDate],[Active],[StatustId])
					VALUES (@@TicketProjectDtlId,@@UserID,@@AssignedTo,GETDATE(),1,1);

					  	  INSERT INTO [ProjectDB].[dbo].[tblTicketComment] (TicketID,[Comment],[CommentedDate],[CommentedBy])
					  VALUES (@@TicketID,'Ticket Open and Assigned From '+(SELECT UserName FROM [ProjectDB].[dbo].[tblUser] WHERE UserId = @@UserID)
					  +' To '+(SELECT UserName FROM [ProjectDB].[dbo].[tblUser] WHERE UserId = @@AssignedTo)+'',GETDATE(),@@UserID)

					SELECT 1;
				END ELSE
				BEGIN
					SELECT 0;
				END
		END

		ELSE
		BEGIN
			SELECT 0;
		END
	END
	ELSE
	BEGIN
		SELECT 0
	END



END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckExpierdWarrenty]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024/01/25
-- Description:	sp for check day to day warrenty
-- =============================================
CREATE PROCEDURE [dbo].[sp_CheckExpierdWarrenty]
AS

BEGIN
	SET NOCOUNT ON;

	

	UPDATE tblWarrentyExtendedDate SET [Active] = 0, IsExpired = 0
	where mWarrentyId IN (SELECT mWarrentyId FROM [ProjectDB].[dbo].[tblMasterWarrenty] WHERE [IsExpiered] = 1)
	AND  CONVERT(DATE, warrentyExtendedToDate) = CONVERT(DATE, GETDATE());

	UPDATE tblMasterWarrenty set [IsExpiered] = 1, Active = 0 WHERE CONVERT(DATE, WarrentyExpierdDate) = CONVERT(DATE, GETDATE());


END

GO
/****** Object:  StoredProcedure [dbo].[sp_ExtendWarrenty]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi 
-- Create date: 2024 02 05
-- Description:	sp for warrenty exend 
-- =============================================
CREATE PROCEDURE [dbo].[sp_ExtendWarrenty] (@@SerialNumber NVARCHAR(MAX),@@WarrentyMonths INT, @@ExtendCost DECIMAL(18,2))
AS
DECLARE @@MasterWarrentyID AS INT, @@CustomerId AS INT, @@InventoryID AS INT, @@ExpiredDate AS DATE , @@ExtendToDate AS DATE,@@ReminderDate AS DATETIME, @@SCOPEID AS INT;

BEGIN
	SET NOCOUNT ON;
	SELECT  @@InventoryID = a.inventoryId , @@MasterWarrentyID = b.mWarrentyId, @@CustomerId = d.CoustomerId,
	@@ExpiredDate = b.WarrentyExpierdDate
	from [ProjectDB].[dbo].[tblInventoryData] a
	join [ProjectDB].[dbo].[tblMasterWarrenty] b on a.InventoryID = b.inventoryId
	join [ProjectDB].[dbo].[tblSalesDetails] c on a.InventoryID = c.InventoryId
	join [ProjectDB].[dbo].[tblCoustomerDetails] d on c.CoustomerId = d.CoustomerId
	where a.SerialNumber like '%'+@@SerialNumber+'%'

		SET @@ExtendToDate = DATEADD(MONTH, @@WarrentyMonths, GETDATE()); --Expierd date
			SET @@ReminderDate = DATEADD(DAY, -7, @@ExtendToDate);

	--update [ProjectDB].[dbo].[tblMasterWarrenty] set WarrentyExpierdDate =  @@ExtendToDate where mWarrentyId =@@MasterWarrentyID; 
	
	UPDATE [ProjectDB].[dbo].[tblMasterWarrenty] SET WarrentyExpierdDate = @@ExtendToDate,@@ReminderDate = @@ReminderDate, IsExtended = 1, Active = 1
	where mWarrentyId =@@MasterWarrentyID;

	INSERT INTO [ProjectDB].[dbo].[tblWarrentyhistory] (mWarrentyId,comment,createdDate,Active)
	values (@@MasterWarrentyID, 'Warrenty Extended',GETDATE(),1)

	INSERT INTO  [ProjectDB].[dbo].[tblSalesDetails] (InventoryId,CoustomerId,ExtendPrice,CreatedDate)
	VALUES (@@InventoryID,@@CustomerId,@@ExtendCost,GETDATE())



	INSERT INTO [ProjectDB].[dbo].[tblWarrentyExtendedDate] ([mWarrentyId],[expiredDate],[IsWarrentyExtended]
    ,[warrentyExtendedFromDate],[warrentyExtendedToDate],[Active],[createddate])
	VALUES (@@MasterWarrentyID, @@ExpiredDate,1,GETDATE(),@@ExtendToDate,1,GETDATE())
	SET @@SCOPEID =  SCOPE_IDENTITY();

	IF (@@SCOPEID IS NOT NULL)
	BEGIN
		SELECT 1
	END ELSE
	BEGIN
		SELECT 0
	END

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Get_SaleItem_data]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-01-23
-- Description:	spFor get SoldItem Data
 
 --- EXEC sp_Get_SaleItem_data null,null,'0768875415'  
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_SaleItem_data] (@@SerialNumber nvarchar(max) = NULL, @@InvoiceNo NVARCHAR(MAX) = NULL, @@CcontactNo NVARCHAR(13) = NULL)
AS

--DECLARE @@NewCoustomerID AS INT , @@InventoryId AS INT;
--Declare

BEGIN
	SET NOCOUNT ON;

	SELECT a.SerialNumber, b.CreatedDate, c.CoustomerName, c.ContactNumber 
	FROM [ProjectDB].[dbo].[tblInventoryData] a
	JOIN [ProjectDB].[dbo].[tblSalesDetails] b ON a.InventoryID = b.InventoryId
	JOIN [ProjectDB].[dbo].[tblCoustomerDetails] c ON b.CoustomerId = c.CoustomerId 
	WHERE ((a.SerialNumber = @@SerialNumber) OR
		(b.InvoiceId = @@InvoiceNo) OR
		 (c.ContactNumber = @@CcontactNo));

END


--select * from tblInventoryData
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNewWarrenty]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024/01/26
-- Description:	sp for new warrenty
-- =============================================
--exec sp_InsertNewWarrenty 1038, 24
CREATE PROCEDURE [dbo].[sp_InsertNewWarrenty] (@@InventoryId INT, @@WarrentyMonth INT)
AS

DECLARE @@EXpieredDate DATE, @@ReminderDate DATE, @@NewMasWarrentyId INT;

BEGIN
	SET NOCOUNT ON;

		    SET @@EXpieredDate = DATEADD(MONTH, @@WarrentyMonth, GETDATE()); --Expierd date
			SET @@ReminderDate = DATEADD(DAY, -7, @@EXpieredDate);

			INSERT INTO [ProjectDB].[dbo].[tblMasterWarrenty]
			([inventoryId],[WarrentyStartDate],[Active],[WarrentyExpierdDate],[ExpierReminderDate],[WarrentyMonths])
			VALUES (@@InventoryId,GETDATE(),1,@@EXpieredDate,@@ReminderDate,@@WarrentyMonth)
			SET @@NewMasWarrentyId = SCOPE_IDENTITY();
	

			INSERT INTO [ProjectDB].[dbo].[tblWarrentyhistory] ([mWarrentyId], [comment], [createdDate], [Active])
			VALUES 
			(@@NewMasWarrentyId,'Warrenty Started from ' + CONVERT(NVARCHAR, GETDATE(), 120) + ' to ' + CONVERT(NVARCHAR, @@EXpieredDate, 120) + '.',
			 GETDATE(),1);


END
GO
/****** Object:  StoredProcedure [dbo].[sp_InventoryManagementReport]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-03-23	
-- Description:	sp for Inverntory Management Reports
-- =============================================
CREATE PROCEDURE [dbo].[sp_InventoryManagementReport](@@FromDate DATETIME,@@ToDate DATETIME,@@ReportCategory INT,@@ReportType INT)
AS

DECLARE @@TempTable AS TABLE ( COL1 NVARCHAR(MAX),COL2 NVARCHAR(MAX), COL3 NVARCHAR(MAX),COL4 NVARCHAR(MAX))
BEGIN
	SET NOCOUNT ON;

	IF (@@ReportCategory = 2 AND @@ReportType = 2)
	BEGIN
		INSERT INTO @@TempTable (COL1,COL2,COL3)
		SELECT 
		'Brand Name : ' + BrandName,
		'Product Name : ' + ProductName,
		'Vendor : ' + VendorName + ' (' + VendorAddress + ' , Contact: ' + VendorContact + ' , Created on ' + CONVERT(VARCHAR(10), CreateDate, 101) + ')' AS VendorInfo
		FROM [ProjectDB].[dbo].[tblProductCategories]
		WHERE CreateDate BETWEEN @@FromDate AND @@ToDate AND Active = 1
	END

	IF (@@ReportCategory = 2 AND @@ReportType = 3)
	BEGIN
		INSERT INTO @@TempTable (COL1,COL2,COL3)
		SELECT DISTINCT 'Brand : ' + A.BrandName + ', Product : ' + A.ProductName + ', Vendor: ' + A.VendorName,
		   'Purchased Count: ' + CAST(B.perchesedCount AS VARCHAR) + ' and One Unit Cost is :' + CAST(B.unitPrice AS VARCHAR) + ' Purchased on :' + CONVERT(VARCHAR(10), b.PerchesedDate, 101),
		   'Remaining units count in sale store : ' + CAST((SELECT COUNT(ToTheStore) FROM tblInventoryData WHERE ToTheStore = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId) AS VARCHAR)
			+ ', Remaining units count in main wh :' + CAST((B.perchesedCount - ((SELECT COUNT(ToTheOutside) FROM tblInventoryData WHERE ToTheOutside = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId)
		+ (SELECT COUNT(ToTheStore) FROM tblInventoryData WHERE ToTheStore = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId))) AS VARCHAR)
		FROM tblProductCategories A 
		JOIN tblMasterStore B ON A.ProductID = B.ProductId
		LEFT JOIN tblInventoryData C ON B.mStoreId = C.MasterId AND B.ProductId = A.ProductID
	END

		IF (@@ReportCategory = 2 AND @@ReportType = 4)
	BEGIN
		INSERT INTO @@TempTable (COL1,COL2,COL3)
		SELECT DISTINCT 'Brand : ' + A.BrandName + ', Product : ' + A.ProductName + ', Vendor: ' + A.VendorName,
		   'Purchased Count: ' + CAST(B.perchesedCount AS VARCHAR) + ' and One Unit Cost is :' + CAST(B.unitPrice AS VARCHAR) + ' Purchased on :' + CONVERT(VARCHAR(10), b.PerchesedDate, 101),
		   'Remaining units count in sale store : ' + CAST((SELECT COUNT(ToTheStore) FROM tblInventoryData WHERE ToTheStore = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId) AS VARCHAR)
			+ ', Out units count in main wh :' + CAST((B.perchesedCount - ((select COUNT(ToTheOutside) from tblInventoryData where ToTheOutside = 1 AND ProductCategoryId = a.ProductID and MasterId = b.mStoreId)
			+(select COUNT(ToTheStore) from tblInventoryData where ToTheStore = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId))) AS VARCHAR)
		FROM tblProductCategories A 
		JOIN tblMasterStore B ON A.ProductID = B.ProductId
		LEFT JOIN tblInventoryData C ON B.mStoreId = C.MasterId AND B.ProductId = A.ProductID
	END
	SELECT * FROM  @@TempTable
END



GO
/****** Object:  StoredProcedure [dbo].[sp_LoadTicketdetailsToManage]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi Pramodya
-- Create date: 2024-02-15
-- Description:	sp_LoadTicketdetailsToManage to get ticket history details

-- exec sp_LoadTicketdetailsToManage 5
-- =============================================
CREATE PROCEDURE [dbo].[sp_LoadTicketdetailsToManage](@@TicketID INT)
AS
DECLARE @@TempTable AS TABLE (TicketId INT, TicketDescription NVARCHAR(MAX),TicketDate DATETIME, CurrentSequnceIndex INT,CurrentSequnce NVARCHAR(100),SequnceIDList INT,SequnceNameList NVARCHAR(200), AssignDate DATETIME, AssignFrom NVARCHAR(200),TicketStatus NVARCHAR(30),SerialNumber NVARCHAR(MAX) ,
							CommentedDate DATETIME,Comment NVARCHAR(MAX),CommentedBY NVARCHAR(300), NextLevelUserId INT, NextLevelUserName NVARCHAR(300));

BEGIN
	SET NOCOUNT ON;
			INSERT INTO @@TempTable
			(TicketId, TicketDescription,TicketDate,CurrentSequnceIndex ,CurrentSequnce,AssignDate,AssignFrom,TicketStatus,SerialNumber) 

			SELECT TicketId, TicketDiscription, CreatedDate AS TicketDate,CurrentSequnceIndex, CurrentSequnce, AssignedDate AS AssignDate, AssignFrom, TicketStatus, SerialNumber
			FROM (
				SELECT a.TicketId, a.TicketDiscription, a.CreatedDate,h.SequanceIndexID as CurrentSequnceIndex, h.SequnceName AS CurrentSequnce, c.AssignedDate,
					   e.UserName AS AssignFrom, f.TicketStatus, g.SerialNumber,
					   ROW_NUMBER() OVER (PARTITION BY a.TicketId ORDER BY c.AssignedDate DESC) AS RowNum
				FROM [ProjectDB].[dbo].[tblTicket] a
				JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b ON a.TicketId = b.TicketId
				JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c ON b.TicketProjectId = c.ticketProjectId
				JOIN [ProjectDB].[dbo].[tblTicketComment] d ON a.TicketId = d.TicketID
				JOIN [ProjectDB].[dbo].[tblUser] e ON c.AssignedFrom = e.UserId
				JOIN [ProjectDB].[dbo].tblTicketStatus f ON c.StatustId = f.TicketStatusId
				JOIN [ProjectDB].[dbo].[tblInventoryData] g ON a.InventoryID = g.InventoryID
				JOIN [ProjectDB].[dbo].[tblMasterTicketSequnces] h ON b.CurrentSeqence = h.SequanceIndexID
				WHERE a.TicketId = @@TicketID
			) AS TicketCTE
			WHERE RowNum = 1;


		INSERT INTO @@TempTable (CommentedDate,Comment,CommentedBY)
		SELECT a.CommentedDate,a.Comment,b.UserName FROM [ProjectDB].[dbo].tblTicketComment a
		JOIN [ProjectDB].[dbo].[tblUser] b on a.CommentedBy = b.UserId
		WHERE a.TicketID  = @@TicketID ORDER BY a.CommentedDate DESC

		INSERT INTO @@TempTable (SequnceIDList,SequnceNameList)
		SELECT SequanceIndexID,SequnceName FROM [ProjectDB].[dbo].[tblMasterTicketSequnces]

		INSERT INTO @@TempTable (NextLevelUserId,NextLevelUserName)
		SELECT UserId,UserName FROM [ProjectDB].[dbo].[tblUser] 
		WHERE AssignedTicketSequnceGroup = (
		SELECT c.SequanceIndexID +1 FROM [ProjectDB].[dbo].[tblTicket] a
		JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
		JOIN [ProjectDB].[dbo].[tblMasterTicketSequnces] c on b.CurrentSeqence = c.SequanceIndexID
		WHERE a.TicketId = @@TicketID)


	SELECT * FROM @@TempTable

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LogadPendingTickets]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi	
-- Create date: 2024-02-15
-- Description:	sp for get Pending Tickets
--  exec [ProjectDB].[dbo].[sp_LogadPendingTickets] 5
-- =============================================
CREATE PROCEDURE [dbo].[sp_LogadPendingTickets] (@@UserID INT)
AS
 
DECLARE @@TempTable AS TABLE (TicketID INT, TicketDescription NVARCHAR(MAX), AssignDate DATETIME,CurrentStatus NVARCHAR(30))
BEGIN
	SET NOCOUNT ON;
	INSERT INTO @@TempTable (TicketID,TicketDescription,AssignDate,CurrentStatus)
	select a.TicketId,a.TicketDiscription, c.AssignedDate,e.TicketStatus from
	[ProjectDB].[dbo].[tblTicket] a 
	JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
	JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
	JOIN [ProjectDB].[dbo].[tblUser] d on c.AssignedTo = d.UserId
	JOIn [ProjectDB].[dbo].[tblTicketStatus] e on c.StatustId = e.TicketStatusId
	WHERE c.Active  =  1 and  c.AssignedTo = @@UserID

	SELECT * FROM @@TempTable

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageTicketLevelToLevel]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024 02 08
-- Description:	sp for manage Ticket by levels

-- exec sp_ManageTicketLevelToLevel 5,2,null
-- exec sp_ManageTicketLevelToLevel 17,3,6
-- exec sp_ManageTicketLevelToLevel 5,2,null
-- exec sp_ManageTicketLevelToLevel 5,3,null

-- exec sp_ManageTicketLevelToLevel 1,2,1
-- =============================================
CREATE PROCEDURE [dbo].[sp_ManageTicketLevelToLevel] (@@TicketID INT, @@StatusID INT, @@AssignedTo INT = NULL)
AS
DECLARE @@CurrentSequence AS INT , @@TaskAssignId AS INT,@@TicketPeojectId AS INT, @@PreviousUser AS INT;

BEGIN
	SET NOCOUNT ON;

	SELECT @@TicketPeojectId = b.TicketProjectId ,@@CurrentSequence=b.CurrentSeqence FROM [ProjectDB].[dbo].[tblTicket] a 
	JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b ON a.TicketId = b.TicketId 

	SELECT @@TaskAssignId=c.TaslAssignId,@@PreviousUser=c.AssignedTo
	FROM [ProjectDB].[dbo].[tblTicket] a
	JOIN  [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
	JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
	WHERE  a.TicketId =  @@TicketID and c.Active = 1;


	IF (@@StatusID = 2)  --Accepet
	BEGIN
		UPDATE [ProjectDB].[dbo].[tblTicketTaskAssign] SET StatustId =  2 WHERE TaslAssignId = @@TaskAssignId and Active = 1;
				 
				 INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
				  VALUES (@@TicketID,'Ticket Accepted by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId=@@PreviousUser)+' ',GETDATE(),@@PreviousUser)

		SELECT 2;


		--Inset Comment Part
	END
	IF (@@StatusID = 3) --Submit
	BEGIN
		
		IF (@@CurrentSequence = 3) 
		BEGIN
			UPDATE [ProjectDB].[dbo].[tblTicketProjectDtl] SET Active = 0
			WHERE TicketId = @@TicketID

			UPDATE  [ProjectDB].[dbo].[tblTicketTaskAssign] SET Active =0,
			StatustId = 5 WHERE TaslAssignId = @@TaskAssignId;
			SELECT 5;

			UPDATE [ProjectDB].[dbo].[tblTicket] SET IsClosed = 1, ClosedDate = GETDATE();

			INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
			VALUES (@@TicketID,'Ticket Closed by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId=@@PreviousUser)+' ',GETDATE(),@@PreviousUser)

			--Insert Comment
		END 
		ELSE BEGIN
			UPDATE [ProjectDB].[dbo].[tblTicketProjectDtl] SET CurrentSeqence = @@CurrentSequence+1 
			WHERE TicketId = @@TicketID

			UPDATE  [ProjectDB].[dbo].[tblTicketTaskAssign] SET Active =0,
			StatustId = 3 WHERE TaslAssignId = @@TaskAssignId;

			INSERT INTO [ProjectDB].[dbo].[tblTicketTaskAssign] ([ticketProjectId],[AssignedFrom],[AssignedTo],[AssignedDate],[Active],[StatustId])
			VALUES (@@TicketPeojectId,@@PreviousUser,@@AssignedTo,GETDATE(),1,1)

			INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
			VALUES (@@TicketID,'Ticket Submitted by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId=@@PreviousUser)+' ',GETDATE(),@@PreviousUser)

			--Insert Comment
			SELECT 3;
		END

	END 
	IF (@@StatusID = 4)
	BEGIN 
		UPDATE [ProjectDB].[dbo].[tblTicketProjectDtl] SET 
		CurrentSeqence = (@@CurrentSequence-1)
		WHERE TicketId = @@TicketID

		UPDATE  [ProjectDB].[dbo].[tblTicketTaskAssign] SET Active =0, StatustId = 4 WHERE TaslAssignId = @@TaskAssignId;

		SELECT TOP 1 @@AssignedTo=c.AssignedFrom ,@@PreviousUser = c.AssignedTo
		FROM [ProjectDB].[dbo].[tblTicket] a
		JOIN  [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
		JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
		WHERE  a.TicketId =  @@TicketID and c.Active = 0 ORDER BY c.AssignedDate DESC;

		INSERT INTO [ProjectDB].[dbo].[tblTicketTaskAssign] ([ticketProjectId],[AssignedFrom],[AssignedTo],[AssignedDate],[Active],[StatustId])
		VALUES (@@TicketPeojectId,@@PreviousUser,@@AssignedTo,GETDATE(),1,1)

			INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
			VALUES (@@TicketID,'Ticket Rejected by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId= @@PreviousUser)+' ',GETDATE(),@@PreviousUser)


		select 4;
		--Insert Comment
	END


END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageWareHouse]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2023 12 30
-- Description:	sp for Manage WareHouse
-- =============================================
--  EXEC [dbo].[sp_ManageWareHouse] 2,6,'asfdafasss'

CREATE PROCEDURE [dbo].[sp_ManageWareHouse] 
    @dataType int,
    @ProductCategory int,
    --@MasterStore int,
    @SerialNo NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @InsertedId INT;
	DECLARE @ReturnMessage NVARCHAR(MAX);
	Declare @MasterStorePercesedCount INT, @InventoryDataCount INT , @InventoryIn INT , @InventoryOut INT;

	DECLARE @TempTable AS TABLE (ProductCategoryId INT,[MasterId] INT,[SerialNumber] NVARCHAR(MAX),[ToTheStore] BIT,[ToTheOutside] BIT,[InsertedDate] DATETIME NULL,[OutedDateFromStore] DATETIME NULL)
	--start

	--Check


		

	SET @MasterStorePercesedCount = (SELECT b.perchesedCount FROM [ProjectDB].[dbo].[tblProductCategories] a 
	JOIN [ProjectDB].[dbo].[tblMasterStore] b ON a.ProductID = b.ProductId where a.ProductID = @ProductCategory);

	
	SET @InventoryIn = (		SELECT count(c.ToTheStore) FROM [ProjectDB].[dbo].[tblMasterStore] b JOIN
	[ProjectDB].[dbo].[tblInventoryData] c on b.mStoreId = c.MasterId where c.ToTheStore = 1
	and b.ProductId = @ProductCategory )

	SET @InventoryOut	=(SELECT count(c.ToTheOutside) FROM [ProjectDB].[dbo].[tblMasterStore] b JOIN
	[ProjectDB].[dbo].[tblInventoryData] c on b.mStoreId = c.MasterId where c.ToTheOutside = 1
	and b.ProductId = @ProductCategory)
	
	---Select @MasterStorePercesedCount, @InventoryIn,@InventoryOut
	--end
	IF(@MasterStorePercesedCount >= (@InventoryIn+@InventoryOut))
	BEGIN

	
        INSERT INTO [ProjectDB].[dbo].[tblInventoryData] 
        ([ProductCategoryId],[MasterId],[SerialNumber],[ToTheStore],[ToTheOutside],[InsertedDate],[OutedDateFromStore])
        VALUES 
        (@ProductCategory, (SELECT b.mStoreId 
		FROM tblProductCategories a
		JOIN tblMasterStore b on a.ProductID = b.ProductId
		where a.ProductID = @ProductCategory),
		@SerialNo,CASE WHEN @dataType = 1 THEN 1 ELSE 0 END,CASE WHEN @dataType = 2 THEN 1 ELSE 0 END, CASE WHEN @dataType = 1 THEN GETDATE() ELSE NULL END, 
         CASE WHEN @dataType = 2 THEN GETDATE() ELSE NULL END);
       
		SELECT  'Successfully Inserted !!!' AS  RESULT;

	END
	ELSE
	BEGIN
	SELECT 'Master Stock is Over!!!' AS RESULT;
	END




END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaleItem]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-01-15
-- Description:	spForSaleItem
--- EXEC sp_SaleItem 'buddhika perera','0768875415','sasankabudsadddhi@gmail.com','59/4 horana mabiliyakanda','123456789','fds4s65f4s', 1000,5000,24

-- =============================================
CREATE PROCEDURE [dbo].[sp_SaleItem] (@@cName nvarchar(max),@@cContact nvarchar(15), 
@@cEmail nvarchar(200),@@cAddress nvarchar(max),@@Password nvarchar(max), 
@@SerialNo nvarchar(max),@@Discount decimal(18,2),@@Price decimal(18,2),@@Warrenty int)

AS

DECLARE @@NewCoustomerID AS INT , @@InventoryId AS INT;
--Declare
BEGIN
	SET NOCOUNT ON;
		SET @@InventoryId = (SELECT top 1 InventoryID FROM [dbo].[tblInventoryData] WHERE SerialNumber = @@SerialNo order by InsertedDate desc);

		
		
		IF(@@InventoryId IS NOT NULL)
		BEGIN
			-- Coustomer Registration
		INSERT INTO [ProjectDB].[dbo].[tblCoustomerDetails]  ([CoustomerName], [Address], [Email], [ContactNumber], [UserName], [Password], [Active],CreatedDate)
		VALUES (@@cName,@@cAddress,@@cEmail,@@cContact,SUBSTRING(@@cName, 1, CHARINDEX(' ', @@cName) - 1),@@Password,1,GETDATE());
		SET @@NewCoustomerID = SCOPE_IDENTITY();
	
		
		-- SaleDetails 
		INSERT INTO[ProjectDB].[dbo].[tblSalesDetails] ([InventoryId],[CoustomerId],[Discount],[SoldPrice],CreatedDate)values 
		(@@InventoryId, @@NewCoustomerID,@@Discount, @@Price, GETDATE())

		UPDATE [ProjectDB].[dbo].[tblInventoryData] set ToTheStore = 0 , ToTheOutside = 1, OutedDateFromStore = GETDATE() where InventoryID = @@InventoryId;
	
		-- Master warrenty
		EXEC  sp_InsertNewWarrenty @@InventoryId, @@Warrenty 
			SELECT 1

	END
	ELSE BEGIN
		SELECT 0
	END
END


--select * from tblInventoryData
GO
/****** Object:  StoredProcedure [dbo].[sp_TicketManagementReport]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-03-30	
-- Description:	sp for Ticket Management Reports
----ReportTypeValue	ReportTypeName
----1	Pending Tickets
----2	Tickets In Handlers
----3	Tickets In Manager
----4	Closed Tickets

--	exec [dbo].[sp_TicketManagementReport] '2023-02-02 00:00:00.001','2024-05-02 00:00:00.001',3,4

-- =============================================
CREATE PROCEDURE [dbo].[sp_TicketManagementReport](@@FromDate DATETIME,@@ToDate DATETIME,@@ReportCategory INT,@@ReportType INT)
AS

DECLARE @@TempTable AS TABLE ( COL1 NVARCHAR(MAX),COL2 NVARCHAR(MAX), COL3 NVARCHAR(MAX),COL4 NVARCHAR(MAX))
BEGIN
	SET NOCOUNT ON;

	IF (@@ReportCategory = 3 AND @@ReportType = 1) --Pending Ticket
	BEGIN
	INSERT INTO @@TempTable(COL1, COL2)
		SELECT 'TIcket ID: '+Convert(NVARCHAR(MAX),a.TicketId), 'Ticket Inserted By :' +d.CoustomerName+
		 'For Serial No: '+ b.SerialNumber+' on:'+ CONVERT(NVARCHAR(MAX), a.CreatedDate)
		FROM [ProjectDB].[dbo].[tblTicket] a
		LEFT JOIN [ProjectDB].[dbo].[tblInventoryData] b on a.InventoryID = b.InventoryID
		LEFT JOIN [ProjectDB].[dbo].[tblSalesDetails] c on b.InventoryID =  c.InventoryId 
		LEFT JOIN [ProjectDB].[dbo].[tblCoustomerDetails] d on c.CoustomerId= d.CoustomerId
		where a.InventoryID IS NOT NULL AND IsOpen IS NULL AND IsClosed IS NULL AND OpenedDate IS NULL AND ClosedDate IS NULL
		AND a.CreatedDate BETWEEN @@FromDate AND @@ToDate

	
	END

	IF (@@ReportCategory= 3 AND @@ReportType in(2,3))  --Tickets In Handlers   & Tickets In Manager
	BEGIN	
		INSERT INTO @@TempTable(COL1, COL2,COL3)
		SELECT 'Ticket ID: '+CONVERT(NVARCHAR(30),a.TicketId) , 
		'Assigned to '+f.SequnceName+' on : ' +	CONVERT(NVARCHAR(30),c.AssignedDate),
		'Current assigned user : ' +  g.FirstName +' '+g.LastName
		FROM [ProjectDB].[dbo].[tblTicket] a 
		LEFT JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
		LEFT JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
		LEFT JOIN [ProjectDB].[dbo].[tblTicketComment] e on a.TicketId  = e.TicketID
		LEFT JOIN [ProjectDB].[dbo].tblMasterTicketSequnces f on b.CurrentSeqence = f.SequanceIndexID
		LEFT JOIN [ProjectDB].[dbo].[tblUser] g on c.AssignedTo = g.UserId
		WHERE b.CurrentSeqence = @@ReportType AND a.IsClosed IS  NULL AND 
		c.AssignedDate between @@FromDate and @@ToDate
	END

	IF (@@ReportCategory = 3 AND @@ReportType = 4) --Closed Ticket
	BEGIN
		INSERT INTO @@TempTable(COL1, COL2,COL3)
		SELECT 'Ticket Id : '+CONVERT(NVARCHAR(30),a.TicketId)
		,'Ticket Opened on : '+ CONVERT(NVARCHAR(30),a.OpenedDate) 
		,'Ticket Closed on : '+ CONVERT(NVARCHAR(30),a.ClosedDate) 
		FROM [ProjectDB].[dbo].[tblTicket]  a
		where a.IsClosed = 1 AND a.ClosedDate IS NOT NULL 
		AND a.ClosedDate between @@FromDate and @@ToDate
	END

	SELECT * FROM  @@TempTable
END



		
GO
/****** Object:  StoredProcedure [dbo].[sp_UserManageReport]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi	
-- Create date: 2024-03-20
-- Description:	Sp for User Manage Report
-- EXEC [dbo].[sp_UserManageReport] '2024-01-01','2024-10-30',1,3
-- =============================================

CREATE PROCEDURE [dbo].[sp_UserManageReport] (@@FromDate DATETIME,@@ToDate DATETIME, @@ReportCategory INT,@@ReportType INT)
AS

DECLARE @@TempTable AS TABLE (FullName NVARCHAR(200), CreateDate DATETIME,[Status] NVARCHAR(30),UserLevel NVARCHAR(200) NULL,Remark NVARCHAR(MAX) NULL)

BEGIN
	SET NOCOUNT ON;

	IF (@@ReportCategory = 1)
	BEGIN
		IF (@@ReportType IN (1,4))
		BEGIN
			INSERT INTO  @@TempTable (FullName, CreateDate,[Status],UserLevel,Remark)
			SELECT a.FirstName+' '+a.LastName, a.CreatedDate, 
			(CASE WHEN a.Active= 1 THEN 'Active' ELSE 'Deactivated' END),b.UserLevel,
			(CASE WHEN a.AssignedTicketSequnceGroup IS NOT NULL THEN c.SequnceName ELSE 'N/A' END)
			FROM [ProjectDB].[dbo].[tblUser] a
			LEFT join [ProjectDB].[dbo].[tblUserlLevel] b on a.UserLevel = b.UserlevelID
			LEFT join [ProjectDB].[dbo].[tblMasterTicketSequnces] c on a.AssignedTicketSequnceGroup = c.SequanceIndexID
			WHERE a.CreatedDate BETWEEN @@FromDate AND @@ToDate AND a.Active = CASE  WHEN @@ReportType = 1 THEN 1 WHEN @@ReportType = 4 THEN  0 END
			SELECT * FROM @@TempTable

		END
		IF (@@ReportType = 2)
		BEGIN
			INSERT INTO  @@TempTable (FullName, CreateDate,[Status],UserLevel,Remark)
			SELECT CoustomerName, CreatedDate,(CASE WHEN Active= 1 THEN 'Active' ELSE 'Deactivated' END),'Customer', 
		    (CASE WHEN ContactNumber IS NOT NULL THEN 'Mobile No: '+ContactNumber ELSE '' END)+ +
			(CASE WHEN Email IS NOT NULL THEN ' Email: ' +Email ELSE '' END)
			FROM [ProjectDB].[dbo].[tblCoustomerDetails] WHERE Active = 1 AND 
			CreatedDate BETWEEN @@FromDate AND @@ToDate
			SELECT * FROM @@TempTable
		END
		IF (@@ReportType = 3)
		BEGIN
			INSERT INTO  @@TempTable (FullName, CreateDate,[Status],UserLevel,Remark) 
			SELECT VendorName, CreateDate,(CASE WHEN Active= 1 THEN 'Active' ELSE 'Deactivated' END), 'Vendor',
			(CASE WHEN VendorContact IS NOT NULL THEN 'Mobile No: '+VendorContact ELSE '' END)+ +
			(CASE WHEN VendorEmail IS NOT NULL THEN ' Email: ' +VendorEmail ELSE '' END)+ +
			(CASE WHEN VendorAddress IS NOT NULL THEN ' Address: ' +VendorAddress ELSE '' END)
			FROM [ProjectDB].[dbo].[tblProductCategories] WHERE Active = 1
			AND CreateDate BETWEEN @@FromDate AND @@ToDate
			SELECT * FROM @@TempTable
		END 

	END


END
GO
/****** Object:  StoredProcedure [dbo].[sp_ViewAllInventoryData]    Script Date: 07/04/2024 21:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2023-12-28
-- Description:	sp for get all inventory data to view current inventory status
--  EXEC  sp_ViewAllInventoryData NULL,NULL
-- =============================================
CREATE PROCEDURE [dbo].[sp_ViewAllInventoryData] (@FromDate DATETIME = NULL,@ToDATE DATETIME = NULL)
AS

DECLARE @@TempTableToView AS TABLE (BrandName NVARCHAR(30), VendorName NVARCHAR(30), VendorContact NVARCHAR(30), VendorEmail NVARCHAR(30), PerchesedCount INT, UnitPrice Decimal(18,2),TotalCost Decimal(18,2),InSaleInventory INT,NotInAnyStore INT, RemainingCount INT, ProductName Nvarchar(100))

BEGIN
	SET NOCOUNT ON;
	insert into @@TempTableToView  (BrandName,ProductName, VendorName, VendorContact, VendorEmail, PerchesedCount, UnitPrice,TotalCost,InSaleInventory,NotInAnyStore,RemainingCount)
	SELECT A.BrandName,A.ProductName, A.VendorName, A.VendorContact, A.VendorEmail,B.perchesedCount,B.unitPrice, (b.perchesedCount * b.unitPrice),(select count (ToTheStore) from tblInventoryData where ToTheStore = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId ),
	(select count (ToTheOutside) from tblInventoryData where ToTheOutside = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId ),
	(B.perchesedCount - ((select COUNT(ToTheOutside) from tblInventoryData where ToTheOutside = 1 AND ProductCategoryId = a.ProductID and MasterId = b.mStoreId)
	+(select COUNT(ToTheStore) from tblInventoryData where ToTheStore = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId))) 
	FROM tblProductCategories A 
	JOIN tblMasterStore B ON A.ProductID = B.ProductId
	left JOIN tblInventoryData C ON B.mStoreId = C.MasterId And b.ProductId = a.ProductID

	SELECT DISTINCT BrandName, VendorName, VendorContact, VendorEmail, PerchesedCount, UnitPrice,TotalCost,InSaleInventory,NotInAnyStore,RemainingCount,ProductName FROM @@TempTableToView  
END
GO
