USE [master]
GO
/****** Object:  Database [ProjectDB]    Script Date: 07/04/2024 21:47:50 ******/
CREATE DATABASE [ProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDB]
GO
/****** Object:  Table [dbo].[tblCoustomerDetails]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCoustomerDetails](
	[CoustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CoustomerName] [nvarchar](max) NULL,
	[Address] [nvarchar](300) NULL,
	[Email] [nvarchar](80) NULL,
	[ContactNumber] [nchar](13) NULL,
	[UserName] [nvarchar](10) NULL,
	[Password] [nvarchar](max) NULL,
	[Active] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblCoustomerDetails] PRIMARY KEY CLUSTERED 
(
	[CoustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInventoryData]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInventoryData](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryId] [int] NULL,
	[MasterId] [int] NULL,
	[SerialNumber] [nvarchar](150) NULL,
	[ToTheStore] [bit] NULL,
	[InsertedDate] [datetime] NULL,
	[ToTheOutside] [bit] NULL,
	[OutedDateFromStore] [datetime] NULL,
 CONSTRAINT [PK_tblInventoryData] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInventoryHistory]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInventoryHistory](
	[inventoryHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NULL,
	[Remark] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
	[createdby] [int] NULL,
 CONSTRAINT [PK_tblInventoryHistory] PRIMARY KEY CLUSTERED 
(
	[inventoryHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMasterStore]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMasterStore](
	[mStoreId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[perchesedCount] [int] NULL,
	[unitPrice] [decimal](18, 0) NULL,
	[PerchesedDate] [datetime] NULL,
	[RecoredEnterdBy] [int] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_tblMasterStore] PRIMARY KEY CLUSTERED 
(
	[mStoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMasterTicketDetails]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMasterTicketDetails](
	[mTicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NULL,
	[isAssigned] [bit] NULL,
	[AssignedDate] [datetime] NULL,
	[AssignedTo] [int] NULL,
	[IsAccepted] [bit] NULL,
 CONSTRAINT [PK_tblMasterTicketDetails] PRIMARY KEY CLUSTERED 
(
	[mTicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMasterTicketSequnces]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMasterTicketSequnces](
	[SequanceIndexID] [int] IDENTITY(1,1) NOT NULL,
	[SequnceName] [nvarchar](100) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_tblMasterTicketSequnces] PRIMARY KEY CLUSTERED 
(
	[SequanceIndexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMasterWarrenty]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMasterWarrenty](
	[mWarrentyId] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NULL,
	[WarrentyStartDate] [datetime] NULL,
	[Active] [bit] NULL,
	[WarrentyExpierdDate] [date] NULL,
	[ExpierReminderDate] [date] NULL,
	[WarrentyMonths] [int] NULL,
	[IsExpiered] [bit] NULL,
	[IsExtended] [bit] NULL,
 CONSTRAINT [PK_tblMasterWarrenty] PRIMARY KEY CLUSTERED 
(
	[mWarrentyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductCategories]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductCategories](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NULL,
	[VendorName] [nvarchar](100) NULL,
	[VendorContact] [nchar](13) NULL,
	[VendorAddress] [nvarchar](200) NULL,
	[VendorEmail] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[Active] [bit] NULL,
	[ProductName] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblProductCategories] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReportCategory]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReportCategory](
	[ReportCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ReportCategoryName] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tblReportCategory] PRIMARY KEY CLUSTERED 
(
	[ReportCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReportType]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReportType](
	[ReportTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ReportCategoryId] [int] NULL,
	[ReportTypeValue] [int] NULL,
	[ReportTypeName] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tblReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSalesDetails]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSalesDetails](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryId] [int] NULL,
	[CoustomerId] [int] NULL,
	[Discount] [decimal](18, 0) NULL,
	[SoldPrice] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[ExtendPrice] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblSalesDetails] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTicket]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTicket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NULL,
	[CoustomerId] [int] NULL,
	[TicketDiscription] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[IsOpen] [bit] NULL,
	[IsClosed] [bit] NULL,
	[OpenedDate] [datetime] NULL,
	[ClosedDate] [datetime] NULL,
 CONSTRAINT [PK_tblTicket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTicketComment]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTicketComment](
	[ticketCommentID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CommentedDate] [datetime] NULL,
	[CommentedBy] [int] NULL,
 CONSTRAINT [PK_tblTicketComment] PRIMARY KEY CLUSTERED 
(
	[ticketCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTicketProjectDtl]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTicketProjectDtl](
	[TicketProjectId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[CurrentSeqence] [int] NULL,
	[Active] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tblTicketProjectDtl] PRIMARY KEY CLUSTERED 
(
	[TicketProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTicketStatus]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTicketStatus](
	[TicketStatusId] [int] IDENTITY(1,1) NOT NULL,
	[TicketStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTicketStatus] PRIMARY KEY CLUSTERED 
(
	[TicketStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTicketTaskAssign]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTicketTaskAssign](
	[TaslAssignId] [int] IDENTITY(1,1) NOT NULL,
	[ticketProjectId] [int] NULL,
	[AssignedFrom] [int] NULL,
	[AssignedTo] [int] NULL,
	[AssignedDate] [datetime] NULL,
	[Active] [bit] NULL,
	[StatustId] [int] NULL,
 CONSTRAINT [PK_tblTicketTaskAssign] PRIMARY KEY CLUSTERED 
(
	[TaslAssignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[DOB] [date] NULL,
	[Email] [nvarchar](80) NULL,
	[MobileNumber] [nchar](13) NULL,
	[UserLevel] [int] NULL,
	[Active] [bit] NULL,
	[Password] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[AssignedTicketSequnceGroup] [int] NULL,
 CONSTRAINT [PK_TblUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserlLevel]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserlLevel](
	[UserlevelID] [int] IDENTITY(1,1) NOT NULL,
	[UserLevel] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_TblUserlLevel] PRIMARY KEY CLUSTERED 
(
	[UserlevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWarrentyExtendedDate]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWarrentyExtendedDate](
	[weId] [int] IDENTITY(1,1) NOT NULL,
	[mWarrentyId] [int] NULL,
	[expiredDate] [datetime] NULL,
	[IsExpired] [bit] NULL,
	[IsWarrentyExtended] [bit] NULL,
	[warrentyExtendedFromDate] [datetime] NULL,
	[warrentyExtendedToDate] [datetime] NULL,
	[Active] [bit] NULL,
	[createddate] [datetime] NULL,
 CONSTRAINT [PK_tblWarrentyExtendedDate] PRIMARY KEY CLUSTERED 
(
	[weId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWarrentyhistory]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWarrentyhistory](
	[whId] [int] IDENTITY(1,1) NOT NULL,
	[mWarrentyId] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_tblWarrentyhistory] PRIMARY KEY CLUSTERED 
(
	[whId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCoustomerDetails] ON 

INSERT [dbo].[tblCoustomerDetails] ([CoustomerId], [CoustomerName], [Address], [Email], [ContactNumber], [UserName], [Password], [Active], [CreatedDate]) VALUES (1, N'buddhika perera', N'59/4 horana mabiliyakanda', N'sasankabudsadddhi@gmail.com', N'0768875415   ', N'buddhika', N'123456789', 1, CAST(N'2024-01-23T10:19:27.767' AS DateTime))
INSERT [dbo].[tblCoustomerDetails] ([CoustomerId], [CoustomerName], [Address], [Email], [ContactNumber], [UserName], [Password], [Active], [CreatedDate]) VALUES (2, N'buddhika perera', N'59/4 horana mabiliyakanda', N'sasankabudsadddhi@gmail.com', N'0768875415   ', N'buddhika', N'123456789', 1, CAST(N'2024-01-23T10:25:38.760' AS DateTime))
INSERT [dbo].[tblCoustomerDetails] ([CoustomerId], [CoustomerName], [Address], [Email], [ContactNumber], [UserName], [Password], [Active], [CreatedDate]) VALUES (3, N'buddhika perera', N'59/4 horana mabiliyakanda', N'sasankabudsadddhi@gmail.com', N'0768875415   ', N'buddhika', N'123456789', 1, CAST(N'2024-01-23T10:27:49.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblCoustomerDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblInventoryData] ON 

INSERT [dbo].[tblInventoryData] ([InventoryID], [ProductCategoryId], [MasterId], [SerialNumber], [ToTheStore], [InsertedDate], [ToTheOutside], [OutedDateFromStore]) VALUES (2, 4, 1, N'684EFW6S45EG6G4', 1, CAST(N'2023-12-28T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[tblInventoryData] ([InventoryID], [ProductCategoryId], [MasterId], [SerialNumber], [ToTheStore], [InsertedDate], [ToTheOutside], [OutedDateFromStore]) VALUES (3, 4, 1, N'465S4DG6SGAGRJS', 1, CAST(N'2023-12-28T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[tblInventoryData] ([InventoryID], [ProductCategoryId], [MasterId], [SerialNumber], [ToTheStore], [InsertedDate], [ToTheOutside], [OutedDateFromStore]) VALUES (4, 4, 1, N'SDH4GH6D5H1HS', NULL, NULL, 1, CAST(N'2023-12-29T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblInventoryData] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMasterStore] ON 

INSERT [dbo].[tblMasterStore] ([mStoreId], [ProductId], [perchesedCount], [unitPrice], [PerchesedDate], [RecoredEnterdBy], [createdDate]) VALUES (1, 4, 100, CAST(125000 AS Decimal(18, 0)), CAST(N'2023-12-28T00:00:00.000' AS DateTime), 1, CAST(N'2023-12-28T00:00:00.000' AS DateTime))
INSERT [dbo].[tblMasterStore] ([mStoreId], [ProductId], [perchesedCount], [unitPrice], [PerchesedDate], [RecoredEnterdBy], [createdDate]) VALUES (2, 5, 50, CAST(250000 AS Decimal(18, 0)), CAST(N'2023-11-23T00:00:00.000' AS DateTime), 1, CAST(N'2023-12-28T00:00:00.000' AS DateTime))
INSERT [dbo].[tblMasterStore] ([mStoreId], [ProductId], [perchesedCount], [unitPrice], [PerchesedDate], [RecoredEnterdBy], [createdDate]) VALUES (3, 6, 100, CAST(4500 AS Decimal(18, 0)), CAST(N'2024-01-01T00:00:00.000' AS DateTime), 2, CAST(N'2024-01-03T12:02:36.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblMasterStore] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMasterTicketSequnces] ON 

INSERT [dbo].[tblMasterTicketSequnces] ([SequanceIndexID], [SequnceName], [Active]) VALUES (1, N'Ticket Cordinator', 1)
INSERT [dbo].[tblMasterTicketSequnces] ([SequanceIndexID], [SequnceName], [Active]) VALUES (2, N'Ticket Handler', 1)
INSERT [dbo].[tblMasterTicketSequnces] ([SequanceIndexID], [SequnceName], [Active]) VALUES (3, N'Ticket Manager', 1)
SET IDENTITY_INSERT [dbo].[tblMasterTicketSequnces] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMasterWarrenty] ON 

INSERT [dbo].[tblMasterWarrenty] ([mWarrentyId], [inventoryId], [WarrentyStartDate], [Active], [WarrentyExpierdDate], [ExpierReminderDate], [WarrentyMonths], [IsExpiered], [IsExtended]) VALUES (1, NULL, CAST(N'2024-01-23T10:19:27.830' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblMasterWarrenty] ([mWarrentyId], [inventoryId], [WarrentyStartDate], [Active], [WarrentyExpierdDate], [ExpierReminderDate], [WarrentyMonths], [IsExpiered], [IsExtended]) VALUES (2, 2, CAST(N'2024-01-23T10:25:38.760' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblMasterWarrenty] ([mWarrentyId], [inventoryId], [WarrentyStartDate], [Active], [WarrentyExpierdDate], [ExpierReminderDate], [WarrentyMonths], [IsExpiered], [IsExtended]) VALUES (3, 2, CAST(N'2024-01-23T10:35:03.433' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblMasterWarrenty] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductCategories] ON 

INSERT [dbo].[tblProductCategories] ([ProductID], [BrandName], [VendorName], [VendorContact], [VendorAddress], [VendorEmail], [CreateDate], [Active], [ProductName]) VALUES (4, N'abanse', N'SInhagiri', N'0761554895   ', N'No 15, Maharagama Rd, Colombo', N'sinhagirimaharagama@gmail.com', CAST(N'2023-11-11T15:48:33.850' AS DateTime), 1, N'Abanse Laptop')
INSERT [dbo].[tblProductCategories] ([ProductID], [BrandName], [VendorName], [VendorContact], [VendorAddress], [VendorEmail], [CreateDate], [Active], [ProductName]) VALUES (5, N'Asus', N'Singar', N'0751234567   ', N'No 15, Maharagama Rd, Colombo', N'singar@gmail.com', CAST(N'2023-11-23T00:00:00.000' AS DateTime), 1, N'Asus VivoBook')
INSERT [dbo].[tblProductCategories] ([ProductID], [BrandName], [VendorName], [VendorContact], [VendorAddress], [VendorEmail], [CreateDate], [Active], [ProductName]) VALUES (6, N'Asus', N'lb', N'045127454    ', N'No 15, Maharagama Rd, Colombo 10', N'ausumaharagama@gmail.com', CAST(N'2024-01-03T11:58:18.527' AS DateTime), 1, N'Mouse')
SET IDENTITY_INSERT [dbo].[tblProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[tblReportCategory] ON 

INSERT [dbo].[tblReportCategory] ([ReportCategoryId], [ReportCategoryName], [Active], [CreateDate]) VALUES (1, N'User Management Report', 1, CAST(N'2024-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[tblReportCategory] ([ReportCategoryId], [ReportCategoryName], [Active], [CreateDate]) VALUES (2, N'Inventory Management Report', 1, CAST(N'2024-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[tblReportCategory] ([ReportCategoryId], [ReportCategoryName], [Active], [CreateDate]) VALUES (3, N'Ticket Management Report', 1, CAST(N'2024-03-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblReportCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblReportType] ON 

INSERT [dbo].[tblReportType] ([ReportTypeID], [ReportCategoryId], [ReportTypeValue], [ReportTypeName], [Active], [CreateDate]) VALUES (1, 1, 1, N'All', 1, CAST(N'2024-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[tblReportType] ([ReportTypeID], [ReportCategoryId], [ReportTypeValue], [ReportTypeName], [Active], [CreateDate]) VALUES (2, 1, 2, N'Customers', 1, CAST(N'2024-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[tblReportType] ([ReportTypeID], [ReportCategoryId], [ReportTypeValue], [ReportTypeName], [Active], [CreateDate]) VALUES (3, 1, 3, N'Vendors', 1, CAST(N'2024-03-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblReportType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSalesDetails] ON 

INSERT [dbo].[tblSalesDetails] ([InvoiceID], [InventoryId], [CoustomerId], [Discount], [SoldPrice], [CreatedDate], [ExtendPrice]) VALUES (1, 2, 9, CAST(1000 AS Decimal(18, 0)), CAST(5000 AS Decimal(18, 0)), CAST(N'2024-01-23T10:35:03.433' AS DateTime), NULL)
INSERT [dbo].[tblSalesDetails] ([InvoiceID], [InventoryId], [CoustomerId], [Discount], [SoldPrice], [CreatedDate], [ExtendPrice]) VALUES (2, 2, NULL, CAST(1000 AS Decimal(18, 0)), CAST(186389 AS Decimal(18, 0)), CAST(N'2024-01-23T11:41:47.210' AS DateTime), NULL)
INSERT [dbo].[tblSalesDetails] ([InvoiceID], [InventoryId], [CoustomerId], [Discount], [SoldPrice], [CreatedDate], [ExtendPrice]) VALUES (3, 2, 11, CAST(1000 AS Decimal(18, 0)), CAST(186389 AS Decimal(18, 0)), CAST(N'2024-01-23T11:49:44.067' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblSalesDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTicket] ON 

INSERT [dbo].[tblTicket] ([TicketId], [InventoryID], [CoustomerId], [TicketDiscription], [CreatedDate], [IsOpen], [IsClosed], [OpenedDate], [ClosedDate]) VALUES (1, 35, 14, N'Test', CAST(N'2024-02-08T11:30:00.000' AS DateTime), 0, 1, CAST(N'2024-02-18T11:30:00.000' AS DateTime), CAST(N'2024-03-12T21:25:22.800' AS DateTime))
INSERT [dbo].[tblTicket] ([TicketId], [InventoryID], [CoustomerId], [TicketDiscription], [CreatedDate], [IsOpen], [IsClosed], [OpenedDate], [ClosedDate]) VALUES (2, 34, 15, N'Test 2024 02 09', CAST(N'2024-02-09T10:58:00.000' AS DateTime), 0, 1, CAST(N'2024-02-09T00:00:00.000' AS DateTime), CAST(N'2024-03-12T21:25:22.800' AS DateTime))
INSERT [dbo].[tblTicket] ([TicketId], [InventoryID], [CoustomerId], [TicketDiscription], [CreatedDate], [IsOpen], [IsClosed], [OpenedDate], [ClosedDate]) VALUES (3, 33, 16, N'Test 2024 02 09 v02', CAST(N'2024-02-09T15:01:00.000' AS DateTime), 1, 1, CAST(N'2024-02-09T15:02:06.263' AS DateTime), CAST(N'2024-03-12T21:25:22.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTicketComment] ON 

INSERT [dbo].[tblTicketComment] ([ticketCommentID], [TicketID], [Comment], [CommentedDate], [CommentedBy]) VALUES (4, 3, N'Ticket Submitted by Handler1 .', CAST(N'2024-02-09T15:10:00.130' AS DateTime), 4)
INSERT [dbo].[tblTicketComment] ([ticketCommentID], [TicketID], [Comment], [CommentedDate], [CommentedBy]) VALUES (5, 3, N'Ticket Accepted by Manager1 .', CAST(N'2024-02-09T15:10:24.960' AS DateTime), 6)
INSERT [dbo].[tblTicketComment] ([ticketCommentID], [TicketID], [Comment], [CommentedDate], [CommentedBy]) VALUES (6, 3, N'Ticket Accepted by Manager1 .', CAST(N'2024-02-09T15:10:50.443' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[tblTicketComment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTicketProjectDtl] ON 

INSERT [dbo].[tblTicketProjectDtl] ([TicketProjectId], [TicketId], [CurrentSeqence], [Active], [CreateDate]) VALUES (2, 1, 2, 1, CAST(N'2024-02-08T13:01:38.717' AS DateTime))
INSERT [dbo].[tblTicketProjectDtl] ([TicketProjectId], [TicketId], [CurrentSeqence], [Active], [CreateDate]) VALUES (3, 2, 3, 0, CAST(N'2024-02-09T11:59:01.680' AS DateTime))
INSERT [dbo].[tblTicketProjectDtl] ([TicketProjectId], [TicketId], [CurrentSeqence], [Active], [CreateDate]) VALUES (4, 3, 3, 0, CAST(N'2024-02-09T15:02:06.263' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblTicketProjectDtl] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTicketStatus] ON 

INSERT [dbo].[tblTicketStatus] ([TicketStatusId], [TicketStatus]) VALUES (1, N'Pending')
INSERT [dbo].[tblTicketStatus] ([TicketStatusId], [TicketStatus]) VALUES (2, N'Accepted')
INSERT [dbo].[tblTicketStatus] ([TicketStatusId], [TicketStatus]) VALUES (3, N'Submitted')
SET IDENTITY_INSERT [dbo].[tblTicketStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTicketTaskAssign] ON 

INSERT [dbo].[tblTicketTaskAssign] ([TaslAssignId], [ticketProjectId], [AssignedFrom], [AssignedTo], [AssignedDate], [Active], [StatustId]) VALUES (1, 2, 3, 4, CAST(N'2024-02-08T16:00:00.000' AS DateTime), 0, 3)
INSERT [dbo].[tblTicketTaskAssign] ([TaslAssignId], [ticketProjectId], [AssignedFrom], [AssignedTo], [AssignedDate], [Active], [StatustId]) VALUES (2, 2, 4, 6, CAST(N'2024-02-09T10:38:36.997' AS DateTime), 0, 4)
INSERT [dbo].[tblTicketTaskAssign] ([TaslAssignId], [ticketProjectId], [AssignedFrom], [AssignedTo], [AssignedDate], [Active], [StatustId]) VALUES (3, 2, 6, 4, CAST(N'2024-02-09T10:38:59.350' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[tblTicketTaskAssign] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserId], [UserName], [FirstName], [LastName], [DOB], [Email], [MobileNumber], [UserLevel], [Active], [Password], [CreatedDate], [AssignedTicketSequnceGroup]) VALUES (2, N'Admin', N'Sasanka', N'Buddhi', CAST(N'2000-07-30' AS Date), N'sasanka@gmail.com', N'0761885932   ', 1, 1, N'123456789', CAST(N'2023-11-02T21:07:34.350' AS DateTime), NULL)
INSERT [dbo].[tblUser] ([UserId], [UserName], [FirstName], [LastName], [DOB], [Email], [MobileNumber], [UserLevel], [Active], [Password], [CreatedDate], [AssignedTicketSequnceGroup]) VALUES (3, N'Coordinator1', N'Ticket', N'Coordinator', CAST(N'2000-07-31' AS Date), N'sasankabuddhi2@gmail.com', N'0761885933   ', 3, 1, N'123456789', CAST(N'2023-11-02T21:21:25.033' AS DateTime), 1)
INSERT [dbo].[tblUser] ([UserId], [UserName], [FirstName], [LastName], [DOB], [Email], [MobileNumber], [UserLevel], [Active], [Password], [CreatedDate], [AssignedTicketSequnceGroup]) VALUES (4, N'Handler1', N'Ticket', N'Handler', CAST(N'2000-08-01' AS Date), N'sasanka3@gmail.com', N'0761885934   ', 4, 1, N'123456789', CAST(N'2023-11-02T21:21:25.033' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserlLevel] ON 

INSERT [dbo].[tblUserlLevel] ([UserlevelID], [UserLevel], [CreateDate], [Active]) VALUES (1, N'Admin', CAST(N'2023-10-28T20:44:49.280' AS DateTime), 1)
INSERT [dbo].[tblUserlLevel] ([UserlevelID], [UserLevel], [CreateDate], [Active]) VALUES (2, N'Manager', CAST(N'2024-02-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblUserlLevel] ([UserlevelID], [UserLevel], [CreateDate], [Active]) VALUES (3, N'Ticket Coordinator', CAST(N'2024-02-18T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblUserlLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[tblWarrentyExtendedDate] ON 

INSERT [dbo].[tblWarrentyExtendedDate] ([weId], [mWarrentyId], [expiredDate], [IsExpired], [IsWarrentyExtended], [warrentyExtendedFromDate], [warrentyExtendedToDate], [Active], [createddate]) VALUES (1, 8, CAST(N'2024-01-25T00:00:00.000' AS DateTime), NULL, 1, CAST(N'2024-02-06T14:27:07.063' AS DateTime), CAST(N'2026-02-06T00:00:00.000' AS DateTime), 1, CAST(N'2024-02-06T14:27:07.063' AS DateTime))
INSERT [dbo].[tblWarrentyExtendedDate] ([weId], [mWarrentyId], [expiredDate], [IsExpired], [IsWarrentyExtended], [warrentyExtendedFromDate], [warrentyExtendedToDate], [Active], [createddate]) VALUES (2, 8, CAST(N'2024-01-25T00:00:00.000' AS DateTime), NULL, 1, CAST(N'2024-02-07T13:23:41.813' AS DateTime), CAST(N'2026-02-07T00:00:00.000' AS DateTime), 1, CAST(N'2024-02-07T13:23:41.813' AS DateTime))
INSERT [dbo].[tblWarrentyExtendedDate] ([weId], [mWarrentyId], [expiredDate], [IsExpired], [IsWarrentyExtended], [warrentyExtendedFromDate], [warrentyExtendedToDate], [Active], [createddate]) VALUES (3, 8, CAST(N'2024-01-01T00:00:00.000' AS DateTime), NULL, 1, CAST(N'2024-02-07T13:46:14.927' AS DateTime), CAST(N'2026-02-07T00:00:00.000' AS DateTime), 1, CAST(N'2024-02-07T13:46:14.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblWarrentyExtendedDate] OFF
GO
SET IDENTITY_INSERT [dbo].[tblWarrentyhistory] ON 

INSERT [dbo].[tblWarrentyhistory] ([whId], [mWarrentyId], [comment], [createdDate], [Active]) VALUES (1, 8, N'Warrenty Started from 2024-01-30 07:57:17 to 2026-01-30.', CAST(N'2024-01-30T07:57:17.717' AS DateTime), 1)
INSERT [dbo].[tblWarrentyhistory] ([whId], [mWarrentyId], [comment], [createdDate], [Active]) VALUES (2, 8, N'Warrenty Extended', CAST(N'2024-02-06T14:27:07.037' AS DateTime), 1)
INSERT [dbo].[tblWarrentyhistory] ([whId], [mWarrentyId], [comment], [createdDate], [Active]) VALUES (3, 8, N'Warrenty Extended', CAST(N'2024-02-07T13:23:41.810' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblWarrentyhistory] OFF
GO
ALTER TABLE [dbo].[tblInventoryData]  WITH CHECK ADD  CONSTRAINT [FK_tblInventoryData_tblMasterStore] FOREIGN KEY([MasterId])
REFERENCES [dbo].[tblMasterStore] ([mStoreId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblInventoryData] CHECK CONSTRAINT [FK_tblInventoryData_tblMasterStore]
GO
ALTER TABLE [dbo].[tblInventoryHistory]  WITH CHECK ADD  CONSTRAINT [FK_tblInventoryHistory_tblInventoryData] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[tblInventoryData] ([InventoryID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblInventoryHistory] CHECK CONSTRAINT [FK_tblInventoryHistory_tblInventoryData]
GO
ALTER TABLE [dbo].[tblInventoryHistory]  WITH CHECK ADD  CONSTRAINT [FK_tblInventoryHistory_tblUser] FOREIGN KEY([createdby])
REFERENCES [dbo].[tblUser] ([UserId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblInventoryHistory] CHECK CONSTRAINT [FK_tblInventoryHistory_tblUser]
GO
ALTER TABLE [dbo].[tblMasterStore]  WITH CHECK ADD  CONSTRAINT [FK_tblMasterStore_tblProductCategories] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tblProductCategories] ([ProductID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblMasterStore] CHECK CONSTRAINT [FK_tblMasterStore_tblProductCategories]
GO
ALTER TABLE [dbo].[tblMasterTicketDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblMasterTicketDetails_tblTicket] FOREIGN KEY([TicketID])
REFERENCES [dbo].[tblTicket] ([TicketId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblMasterTicketDetails] CHECK CONSTRAINT [FK_tblMasterTicketDetails_tblTicket]
GO
ALTER TABLE [dbo].[tblMasterWarrenty]  WITH CHECK ADD  CONSTRAINT [FK_tblMasterWarrenty_tblInventoryData] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[tblInventoryData] ([InventoryID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblMasterWarrenty] CHECK CONSTRAINT [FK_tblMasterWarrenty_tblInventoryData]
GO
ALTER TABLE [dbo].[tblReportType]  WITH CHECK ADD  CONSTRAINT [FK_tblReportType_tblReportCategory] FOREIGN KEY([ReportCategoryId])
REFERENCES [dbo].[tblReportCategory] ([ReportCategoryId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblReportType] CHECK CONSTRAINT [FK_tblReportType_tblReportCategory]
GO
ALTER TABLE [dbo].[tblSalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblSalesDetails_tblCoustomerDetails] FOREIGN KEY([CoustomerId])
REFERENCES [dbo].[tblCoustomerDetails] ([CoustomerId])
GO
ALTER TABLE [dbo].[tblSalesDetails] CHECK CONSTRAINT [FK_tblSalesDetails_tblCoustomerDetails]
GO
ALTER TABLE [dbo].[tblSalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblSalesDetails_tblInventoryData] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[tblInventoryData] ([InventoryID])
GO
ALTER TABLE [dbo].[tblSalesDetails] CHECK CONSTRAINT [FK_tblSalesDetails_tblInventoryData]
GO
ALTER TABLE [dbo].[tblTicket]  WITH CHECK ADD  CONSTRAINT [FK_tblTicket_tblCoustomerDetails] FOREIGN KEY([CoustomerId])
REFERENCES [dbo].[tblCoustomerDetails] ([CoustomerId])
GO
ALTER TABLE [dbo].[tblTicket] CHECK CONSTRAINT [FK_tblTicket_tblCoustomerDetails]
GO
ALTER TABLE [dbo].[tblTicket]  WITH CHECK ADD  CONSTRAINT [FK_tblTicket_tblInventoryData] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[tblInventoryData] ([InventoryID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblTicket] CHECK CONSTRAINT [FK_tblTicket_tblInventoryData]
GO
ALTER TABLE [dbo].[tblTicketComment]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketComment_tblMasterTicketDetails] FOREIGN KEY([TicketID])
REFERENCES [dbo].[tblTicket] ([TicketId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblTicketComment] CHECK CONSTRAINT [FK_tblTicketComment_tblMasterTicketDetails]
GO
ALTER TABLE [dbo].[tblTicketProjectDtl]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketProjectDtl_tblTicket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[tblTicket] ([TicketId])
GO
ALTER TABLE [dbo].[tblTicketProjectDtl] CHECK CONSTRAINT [FK_tblTicketProjectDtl_tblTicket]
GO
ALTER TABLE [dbo].[tblTicketStatus]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketStatus_tblTicketStatus] FOREIGN KEY([TicketStatusId])
REFERENCES [dbo].[tblTicketStatus] ([TicketStatusId])
GO
ALTER TABLE [dbo].[tblTicketStatus] CHECK CONSTRAINT [FK_tblTicketStatus_tblTicketStatus]
GO
ALTER TABLE [dbo].[tblTicketTaskAssign]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketTaskAssign_tblTicketProjectDtl] FOREIGN KEY([ticketProjectId])
REFERENCES [dbo].[tblTicketProjectDtl] ([TicketProjectId])
GO
ALTER TABLE [dbo].[tblTicketTaskAssign] CHECK CONSTRAINT [FK_tblTicketTaskAssign_tblTicketProjectDtl]
GO
ALTER TABLE [dbo].[tblTicketTaskAssign]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketTaskAssign_tblTicketStatus] FOREIGN KEY([StatustId])
REFERENCES [dbo].[tblTicketStatus] ([TicketStatusId])
GO
ALTER TABLE [dbo].[tblTicketTaskAssign] CHECK CONSTRAINT [FK_tblTicketTaskAssign_tblTicketStatus]
GO
ALTER TABLE [dbo].[tblTicketTaskAssign]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketTaskAssign_tblUser] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[tblUser] ([UserId])
GO
ALTER TABLE [dbo].[tblTicketTaskAssign] CHECK CONSTRAINT [FK_tblTicketTaskAssign_tblUser]
GO
ALTER TABLE [dbo].[tblTicketTaskAssign]  WITH CHECK ADD  CONSTRAINT [FK_tblTicketTaskAssign_tblUser1] FOREIGN KEY([AssignedFrom])
REFERENCES [dbo].[tblUser] ([UserId])
GO
ALTER TABLE [dbo].[tblTicketTaskAssign] CHECK CONSTRAINT [FK_tblTicketTaskAssign_tblUser1]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblMasterTicketSequnces] FOREIGN KEY([AssignedTicketSequnceGroup])
REFERENCES [dbo].[tblMasterTicketSequnces] ([SequanceIndexID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblMasterTicketSequnces]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblUserlLevel] FOREIGN KEY([UserLevel])
REFERENCES [dbo].[tblUserlLevel] ([UserlevelID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblUserlLevel]
GO
ALTER TABLE [dbo].[tblWarrentyExtendedDate]  WITH CHECK ADD  CONSTRAINT [FK_tblWarrentyExtendedDate_tblMasterWarrenty] FOREIGN KEY([mWarrentyId])
REFERENCES [dbo].[tblMasterWarrenty] ([mWarrentyId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblWarrentyExtendedDate] CHECK CONSTRAINT [FK_tblWarrentyExtendedDate_tblMasterWarrenty]
GO
ALTER TABLE [dbo].[tblWarrentyhistory]  WITH CHECK ADD  CONSTRAINT [FK_tblWarrentyhistory_tblMasterWarrenty] FOREIGN KEY([mWarrentyId])
REFERENCES [dbo].[tblMasterWarrenty] ([mWarrentyId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblWarrentyhistory] CHECK CONSTRAINT [FK_tblWarrentyhistory_tblMasterWarrenty]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTicket]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi 
-- Create date: 2024-02-12
-- Description:	sp for add tickets
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddTicket] (@@SerialNumber NVARCHAR(MAX), @@TicketRemark NVARCHAR(MAX))
AS
DECLARE @@CustomerID AS INT, @@InventoryID AS INT , @@ScoupIdentityID AS INT;

BEGIN
	SET NOCOUNT ON;

	SELECT @@InventoryID = a.InventoryID ,@@CustomerID = c.CoustomerId FROM [ProjectDB].[dbo].[tblInventoryData] a
	JOIN [ProjectDB].[dbo].[tblSalesDetails] b ON a.InventoryID = b.InventoryId
	JOIN [ProjectDB].[dbo].[tblCoustomerDetails] c ON b.CoustomerId = c.CoustomerId
	WHERE a.SerialNumber = @@SerialNumber

	INSERT INTO [tblTicket] (InventoryID,CoustomerId,TicketDiscription,CreatedDate)
	VALUES (@@InventoryID,@@CustomerID,@@TicketRemark,GETDATE());
	SET @@ScoupIdentityID = SCOPE_IDENTITY();
	
	IF (@@ScoupIdentityID IS NOT NULL)
	BEGIN
		SELECT 1;
	END ELSE
	BEGIN
		SELECT 0;
	END
  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignTicket]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024 02 08
-- Description:	sp for insert Ticket
--  exec  sp_AssignTicket 5,4,3
-- =============================================
CREATE PROCEDURE [dbo].[sp_AssignTicket](@@TicketID INT, @@AssignedTo INT, @@UserID INT)
AS
DECLARE @@ISopen AS BIT, @@TicketProjectDtlId AS INT;

BEGIN
	SET NOCOUNT ON;

	IF(@@TicketID IS NOT NULL AND @@AssignedTo IS NOT NULL AND @@UserID IS NOT NULL OR @@UserID != 0)
	BEGIN

		SELECT @@ISopen =  IsOpen  FROM [ProjectDB].[dbo].[tblTicket] WHERE TicketId = @@TicketID
		IF ( @@ISopen IS NULL OR  @@ISopen = 0)
		BEGIN 
			--Implement from this
			UPDATE [ProjectDB].[dbo].[tblTicket] SET IsOpen=1,OpenedDate=GETDATE()  WHERE TicketId = @@TicketID;


			INSERT INTO [ProjectDB].[dbo].[tblTicketProjectDtl] ([TicketId],[CurrentSeqence],[Active],[CreateDate])
			VALUES (@@TicketID,(SELECT TOP 1 SequanceIndexID FROM [ProjectDB].[dbo].[tblMasterTicketSequnces] ORDER BY SequanceIndexID)+1,1,GETDATE());
			SET @@TicketProjectDtlId = SCOPE_IDENTITY();
			--SELECT @@TicketProjectDtlId

				IF (@@TicketProjectDtlId IS NOT NULL)
				BEGIN
					INSERT INTO [ProjectDB].[dbo].[tblTicketTaskAssign] ([ticketProjectId],[AssignedFrom],[AssignedTo],[AssignedDate],[Active],[StatustId])
					VALUES (@@TicketProjectDtlId,@@UserID,@@AssignedTo,GETDATE(),1,1);

					  	  INSERT INTO [ProjectDB].[dbo].[tblTicketComment] (TicketID,[Comment],[CommentedDate],[CommentedBy])
					  VALUES (@@TicketID,'Ticket Open and Assigned From '+(SELECT UserName FROM [ProjectDB].[dbo].[tblUser] WHERE UserId = @@UserID)
					  +' To '+(SELECT UserName FROM [ProjectDB].[dbo].[tblUser] WHERE UserId = @@AssignedTo)+'',GETDATE(),@@UserID)

					SELECT 1;
				END ELSE
				BEGIN
					SELECT 0;
				END
		END

		ELSE
		BEGIN
			SELECT 0;
		END
	END
	ELSE
	BEGIN
		SELECT 0
	END



END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckExpierdWarrenty]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024/01/25
-- Description:	sp for check day to day warrenty
-- =============================================
CREATE PROCEDURE [dbo].[sp_CheckExpierdWarrenty]
AS

BEGIN
	SET NOCOUNT ON;

	

	UPDATE tblWarrentyExtendedDate SET [Active] = 0, IsExpired = 0
	where mWarrentyId IN (SELECT mWarrentyId FROM [ProjectDB].[dbo].[tblMasterWarrenty] WHERE [IsExpiered] = 1)
	AND  CONVERT(DATE, warrentyExtendedToDate) = CONVERT(DATE, GETDATE());

	UPDATE tblMasterWarrenty set [IsExpiered] = 1, Active = 0 WHERE CONVERT(DATE, WarrentyExpierdDate) = CONVERT(DATE, GETDATE());


END

GO
/****** Object:  StoredProcedure [dbo].[sp_ExtendWarrenty]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi 
-- Create date: 2024 02 05
-- Description:	sp for warrenty exend 
-- =============================================
CREATE PROCEDURE [dbo].[sp_ExtendWarrenty] (@@SerialNumber NVARCHAR(MAX),@@WarrentyMonths INT, @@ExtendCost DECIMAL(18,2))
AS
DECLARE @@MasterWarrentyID AS INT, @@CustomerId AS INT, @@InventoryID AS INT, @@ExpiredDate AS DATE , @@ExtendToDate AS DATE,@@ReminderDate AS DATETIME, @@SCOPEID AS INT;

BEGIN
	SET NOCOUNT ON;
	SELECT  @@InventoryID = a.inventoryId , @@MasterWarrentyID = b.mWarrentyId, @@CustomerId = d.CoustomerId,
	@@ExpiredDate = b.WarrentyExpierdDate
	from [ProjectDB].[dbo].[tblInventoryData] a
	join [ProjectDB].[dbo].[tblMasterWarrenty] b on a.InventoryID = b.inventoryId
	join [ProjectDB].[dbo].[tblSalesDetails] c on a.InventoryID = c.InventoryId
	join [ProjectDB].[dbo].[tblCoustomerDetails] d on c.CoustomerId = d.CoustomerId
	where a.SerialNumber like '%'+@@SerialNumber+'%'

		SET @@ExtendToDate = DATEADD(MONTH, @@WarrentyMonths, GETDATE()); --Expierd date
			SET @@ReminderDate = DATEADD(DAY, -7, @@ExtendToDate);

	--update [ProjectDB].[dbo].[tblMasterWarrenty] set WarrentyExpierdDate =  @@ExtendToDate where mWarrentyId =@@MasterWarrentyID; 
	
	UPDATE [ProjectDB].[dbo].[tblMasterWarrenty] SET WarrentyExpierdDate = @@ExtendToDate,@@ReminderDate = @@ReminderDate, IsExtended = 1, Active = 1
	where mWarrentyId =@@MasterWarrentyID;

	INSERT INTO [ProjectDB].[dbo].[tblWarrentyhistory] (mWarrentyId,comment,createdDate,Active)
	values (@@MasterWarrentyID, 'Warrenty Extended',GETDATE(),1)

	INSERT INTO  [ProjectDB].[dbo].[tblSalesDetails] (InventoryId,CoustomerId,ExtendPrice,CreatedDate)
	VALUES (@@InventoryID,@@CustomerId,@@ExtendCost,GETDATE())



	INSERT INTO [ProjectDB].[dbo].[tblWarrentyExtendedDate] ([mWarrentyId],[expiredDate],[IsWarrentyExtended]
    ,[warrentyExtendedFromDate],[warrentyExtendedToDate],[Active],[createddate])
	VALUES (@@MasterWarrentyID, @@ExpiredDate,1,GETDATE(),@@ExtendToDate,1,GETDATE())
	SET @@SCOPEID =  SCOPE_IDENTITY();

	IF (@@SCOPEID IS NOT NULL)
	BEGIN
		SELECT 1
	END ELSE
	BEGIN
		SELECT 0
	END

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Get_SaleItem_data]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-01-23
-- Description:	spFor get SoldItem Data
 
 --- EXEC sp_Get_SaleItem_data null,null,'0768875415'  
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_SaleItem_data] (@@SerialNumber nvarchar(max) = NULL, @@InvoiceNo NVARCHAR(MAX) = NULL, @@CcontactNo NVARCHAR(13) = NULL)
AS

--DECLARE @@NewCoustomerID AS INT , @@InventoryId AS INT;
--Declare

BEGIN
	SET NOCOUNT ON;

	SELECT a.SerialNumber, b.CreatedDate, c.CoustomerName, c.ContactNumber 
	FROM [ProjectDB].[dbo].[tblInventoryData] a
	JOIN [ProjectDB].[dbo].[tblSalesDetails] b ON a.InventoryID = b.InventoryId
	JOIN [ProjectDB].[dbo].[tblCoustomerDetails] c ON b.CoustomerId = c.CoustomerId 
	WHERE ((a.SerialNumber = @@SerialNumber) OR
		(b.InvoiceId = @@InvoiceNo) OR
		 (c.ContactNumber = @@CcontactNo));

END


--select * from tblInventoryData
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNewWarrenty]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024/01/26
-- Description:	sp for new warrenty
-- =============================================
--exec sp_InsertNewWarrenty 1038, 24
CREATE PROCEDURE [dbo].[sp_InsertNewWarrenty] (@@InventoryId INT, @@WarrentyMonth INT)
AS

DECLARE @@EXpieredDate DATE, @@ReminderDate DATE, @@NewMasWarrentyId INT;

BEGIN
	SET NOCOUNT ON;

		    SET @@EXpieredDate = DATEADD(MONTH, @@WarrentyMonth, GETDATE()); --Expierd date
			SET @@ReminderDate = DATEADD(DAY, -7, @@EXpieredDate);

			INSERT INTO [ProjectDB].[dbo].[tblMasterWarrenty]
			([inventoryId],[WarrentyStartDate],[Active],[WarrentyExpierdDate],[ExpierReminderDate],[WarrentyMonths])
			VALUES (@@InventoryId,GETDATE(),1,@@EXpieredDate,@@ReminderDate,@@WarrentyMonth)
			SET @@NewMasWarrentyId = SCOPE_IDENTITY();
	

			INSERT INTO [ProjectDB].[dbo].[tblWarrentyhistory] ([mWarrentyId], [comment], [createdDate], [Active])
			VALUES 
			(@@NewMasWarrentyId,'Warrenty Started from ' + CONVERT(NVARCHAR, GETDATE(), 120) + ' to ' + CONVERT(NVARCHAR, @@EXpieredDate, 120) + '.',
			 GETDATE(),1);


END
GO
/****** Object:  StoredProcedure [dbo].[sp_InventoryManagementReport]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-03-23	
-- Description:	sp for Inverntory Management Reports
-- =============================================
CREATE PROCEDURE [dbo].[sp_InventoryManagementReport](@@FromDate DATETIME,@@ToDate DATETIME,@@ReportCategory INT,@@ReportType INT)
AS

DECLARE @@TempTable AS TABLE ( COL1 NVARCHAR(MAX),COL2 NVARCHAR(MAX), COL3 NVARCHAR(MAX),COL4 NVARCHAR(MAX))
BEGIN
	SET NOCOUNT ON;

	IF (@@ReportCategory = 2 AND @@ReportType = 2)
	BEGIN
		INSERT INTO @@TempTable (COL1,COL2,COL3)
		SELECT 
		'Brand Name : ' + BrandName,
		'Product Name : ' + ProductName,
		'Vendor : ' + VendorName + ' (' + VendorAddress + ' , Contact: ' + VendorContact + ' , Created on ' + CONVERT(VARCHAR(10), CreateDate, 101) + ')' AS VendorInfo
		FROM [ProjectDB].[dbo].[tblProductCategories]
		WHERE CreateDate BETWEEN @@FromDate AND @@ToDate AND Active = 1
	END

	IF (@@ReportCategory = 2 AND @@ReportType = 3)
	BEGIN
		INSERT INTO @@TempTable (COL1,COL2,COL3)
		SELECT DISTINCT 'Brand : ' + A.BrandName + ', Product : ' + A.ProductName + ', Vendor: ' + A.VendorName,
		   'Purchased Count: ' + CAST(B.perchesedCount AS VARCHAR) + ' and One Unit Cost is :' + CAST(B.unitPrice AS VARCHAR) + ' Purchased on :' + CONVERT(VARCHAR(10), b.PerchesedDate, 101),
		   'Remaining units count in sale store : ' + CAST((SELECT COUNT(ToTheStore) FROM tblInventoryData WHERE ToTheStore = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId) AS VARCHAR)
			+ ', Remaining units count in main wh :' + CAST((B.perchesedCount - ((SELECT COUNT(ToTheOutside) FROM tblInventoryData WHERE ToTheOutside = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId)
		+ (SELECT COUNT(ToTheStore) FROM tblInventoryData WHERE ToTheStore = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId))) AS VARCHAR)
		FROM tblProductCategories A 
		JOIN tblMasterStore B ON A.ProductID = B.ProductId
		LEFT JOIN tblInventoryData C ON B.mStoreId = C.MasterId AND B.ProductId = A.ProductID
	END

		IF (@@ReportCategory = 2 AND @@ReportType = 4)
	BEGIN
		INSERT INTO @@TempTable (COL1,COL2,COL3)
		SELECT DISTINCT 'Brand : ' + A.BrandName + ', Product : ' + A.ProductName + ', Vendor: ' + A.VendorName,
		   'Purchased Count: ' + CAST(B.perchesedCount AS VARCHAR) + ' and One Unit Cost is :' + CAST(B.unitPrice AS VARCHAR) + ' Purchased on :' + CONVERT(VARCHAR(10), b.PerchesedDate, 101),
		   'Remaining units count in sale store : ' + CAST((SELECT COUNT(ToTheStore) FROM tblInventoryData WHERE ToTheStore = 1 AND ProductCategoryId = A.ProductID AND MasterId = B.mStoreId) AS VARCHAR)
			+ ', Out units count in main wh :' + CAST((B.perchesedCount - ((select COUNT(ToTheOutside) from tblInventoryData where ToTheOutside = 1 AND ProductCategoryId = a.ProductID and MasterId = b.mStoreId)
			+(select COUNT(ToTheStore) from tblInventoryData where ToTheStore = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId))) AS VARCHAR)
		FROM tblProductCategories A 
		JOIN tblMasterStore B ON A.ProductID = B.ProductId
		LEFT JOIN tblInventoryData C ON B.mStoreId = C.MasterId AND B.ProductId = A.ProductID
	END
	SELECT * FROM  @@TempTable
END



GO
/****** Object:  StoredProcedure [dbo].[sp_LoadTicketdetailsToManage]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi Pramodya
-- Create date: 2024-02-15
-- Description:	sp_LoadTicketdetailsToManage to get ticket history details

-- exec sp_LoadTicketdetailsToManage 5
-- =============================================
CREATE PROCEDURE [dbo].[sp_LoadTicketdetailsToManage](@@TicketID INT)
AS
DECLARE @@TempTable AS TABLE (TicketId INT, TicketDescription NVARCHAR(MAX),TicketDate DATETIME, CurrentSequnceIndex INT,CurrentSequnce NVARCHAR(100),SequnceIDList INT,SequnceNameList NVARCHAR(200), AssignDate DATETIME, AssignFrom NVARCHAR(200),TicketStatus NVARCHAR(30),SerialNumber NVARCHAR(MAX) ,
							CommentedDate DATETIME,Comment NVARCHAR(MAX),CommentedBY NVARCHAR(300), NextLevelUserId INT, NextLevelUserName NVARCHAR(300));

BEGIN
	SET NOCOUNT ON;
			INSERT INTO @@TempTable
			(TicketId, TicketDescription,TicketDate,CurrentSequnceIndex ,CurrentSequnce,AssignDate,AssignFrom,TicketStatus,SerialNumber) 

			SELECT TicketId, TicketDiscription, CreatedDate AS TicketDate,CurrentSequnceIndex, CurrentSequnce, AssignedDate AS AssignDate, AssignFrom, TicketStatus, SerialNumber
			FROM (
				SELECT a.TicketId, a.TicketDiscription, a.CreatedDate,h.SequanceIndexID as CurrentSequnceIndex, h.SequnceName AS CurrentSequnce, c.AssignedDate,
					   e.UserName AS AssignFrom, f.TicketStatus, g.SerialNumber,
					   ROW_NUMBER() OVER (PARTITION BY a.TicketId ORDER BY c.AssignedDate DESC) AS RowNum
				FROM [ProjectDB].[dbo].[tblTicket] a
				JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b ON a.TicketId = b.TicketId
				JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c ON b.TicketProjectId = c.ticketProjectId
				JOIN [ProjectDB].[dbo].[tblTicketComment] d ON a.TicketId = d.TicketID
				JOIN [ProjectDB].[dbo].[tblUser] e ON c.AssignedFrom = e.UserId
				JOIN [ProjectDB].[dbo].tblTicketStatus f ON c.StatustId = f.TicketStatusId
				JOIN [ProjectDB].[dbo].[tblInventoryData] g ON a.InventoryID = g.InventoryID
				JOIN [ProjectDB].[dbo].[tblMasterTicketSequnces] h ON b.CurrentSeqence = h.SequanceIndexID
				WHERE a.TicketId = @@TicketID
			) AS TicketCTE
			WHERE RowNum = 1;


		INSERT INTO @@TempTable (CommentedDate,Comment,CommentedBY)
		SELECT a.CommentedDate,a.Comment,b.UserName FROM [ProjectDB].[dbo].tblTicketComment a
		JOIN [ProjectDB].[dbo].[tblUser] b on a.CommentedBy = b.UserId
		WHERE a.TicketID  = @@TicketID ORDER BY a.CommentedDate DESC

		INSERT INTO @@TempTable (SequnceIDList,SequnceNameList)
		SELECT SequanceIndexID,SequnceName FROM [ProjectDB].[dbo].[tblMasterTicketSequnces]

		INSERT INTO @@TempTable (NextLevelUserId,NextLevelUserName)
		SELECT UserId,UserName FROM [ProjectDB].[dbo].[tblUser] 
		WHERE AssignedTicketSequnceGroup = (
		SELECT c.SequanceIndexID +1 FROM [ProjectDB].[dbo].[tblTicket] a
		JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
		JOIN [ProjectDB].[dbo].[tblMasterTicketSequnces] c on b.CurrentSeqence = c.SequanceIndexID
		WHERE a.TicketId = @@TicketID)


	SELECT * FROM @@TempTable

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LogadPendingTickets]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi	
-- Create date: 2024-02-15
-- Description:	sp for get Pending Tickets
--  exec [ProjectDB].[dbo].[sp_LogadPendingTickets] 5
-- =============================================
CREATE PROCEDURE [dbo].[sp_LogadPendingTickets] (@@UserID INT)
AS
 
DECLARE @@TempTable AS TABLE (TicketID INT, TicketDescription NVARCHAR(MAX), AssignDate DATETIME,CurrentStatus NVARCHAR(30))
BEGIN
	SET NOCOUNT ON;
	INSERT INTO @@TempTable (TicketID,TicketDescription,AssignDate,CurrentStatus)
	select a.TicketId,a.TicketDiscription, c.AssignedDate,e.TicketStatus from
	[ProjectDB].[dbo].[tblTicket] a 
	JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
	JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
	JOIN [ProjectDB].[dbo].[tblUser] d on c.AssignedTo = d.UserId
	JOIn [ProjectDB].[dbo].[tblTicketStatus] e on c.StatustId = e.TicketStatusId
	WHERE c.Active  =  1 and  c.AssignedTo = @@UserID

	SELECT * FROM @@TempTable

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageTicketLevelToLevel]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024 02 08
-- Description:	sp for manage Ticket by levels

-- exec sp_ManageTicketLevelToLevel 5,2,null
-- exec sp_ManageTicketLevelToLevel 17,3,6
-- exec sp_ManageTicketLevelToLevel 5,2,null
-- exec sp_ManageTicketLevelToLevel 5,3,null

-- exec sp_ManageTicketLevelToLevel 1,2,1
-- =============================================
CREATE PROCEDURE [dbo].[sp_ManageTicketLevelToLevel] (@@TicketID INT, @@StatusID INT, @@AssignedTo INT = NULL)
AS
DECLARE @@CurrentSequence AS INT , @@TaskAssignId AS INT,@@TicketPeojectId AS INT, @@PreviousUser AS INT;

BEGIN
	SET NOCOUNT ON;

	SELECT @@TicketPeojectId = b.TicketProjectId ,@@CurrentSequence=b.CurrentSeqence FROM [ProjectDB].[dbo].[tblTicket] a 
	JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b ON a.TicketId = b.TicketId 

	SELECT @@TaskAssignId=c.TaslAssignId,@@PreviousUser=c.AssignedTo
	FROM [ProjectDB].[dbo].[tblTicket] a
	JOIN  [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
	JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
	WHERE  a.TicketId =  @@TicketID and c.Active = 1;


	IF (@@StatusID = 2)  --Accepet
	BEGIN
		UPDATE [ProjectDB].[dbo].[tblTicketTaskAssign] SET StatustId =  2 WHERE TaslAssignId = @@TaskAssignId and Active = 1;
				 
				 INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
				  VALUES (@@TicketID,'Ticket Accepted by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId=@@PreviousUser)+' ',GETDATE(),@@PreviousUser)

		SELECT 2;


		--Inset Comment Part
	END
	IF (@@StatusID = 3) --Submit
	BEGIN
		
		IF (@@CurrentSequence = 3) 
		BEGIN
			UPDATE [ProjectDB].[dbo].[tblTicketProjectDtl] SET Active = 0
			WHERE TicketId = @@TicketID

			UPDATE  [ProjectDB].[dbo].[tblTicketTaskAssign] SET Active =0,
			StatustId = 5 WHERE TaslAssignId = @@TaskAssignId;
			SELECT 5;

			UPDATE [ProjectDB].[dbo].[tblTicket] SET IsClosed = 1, ClosedDate = GETDATE();

			INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
			VALUES (@@TicketID,'Ticket Closed by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId=@@PreviousUser)+' ',GETDATE(),@@PreviousUser)

			--Insert Comment
		END 
		ELSE BEGIN
			UPDATE [ProjectDB].[dbo].[tblTicketProjectDtl] SET CurrentSeqence = @@CurrentSequence+1 
			WHERE TicketId = @@TicketID

			UPDATE  [ProjectDB].[dbo].[tblTicketTaskAssign] SET Active =0,
			StatustId = 3 WHERE TaslAssignId = @@TaskAssignId;

			INSERT INTO [ProjectDB].[dbo].[tblTicketTaskAssign] ([ticketProjectId],[AssignedFrom],[AssignedTo],[AssignedDate],[Active],[StatustId])
			VALUES (@@TicketPeojectId,@@PreviousUser,@@AssignedTo,GETDATE(),1,1)

			INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
			VALUES (@@TicketID,'Ticket Submitted by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId=@@PreviousUser)+' ',GETDATE(),@@PreviousUser)

			--Insert Comment
			SELECT 3;
		END

	END 
	IF (@@StatusID = 4)
	BEGIN 
		UPDATE [ProjectDB].[dbo].[tblTicketProjectDtl] SET 
		CurrentSeqence = (@@CurrentSequence-1)
		WHERE TicketId = @@TicketID

		UPDATE  [ProjectDB].[dbo].[tblTicketTaskAssign] SET Active =0, StatustId = 4 WHERE TaslAssignId = @@TaskAssignId;

		SELECT TOP 1 @@AssignedTo=c.AssignedFrom ,@@PreviousUser = c.AssignedTo
		FROM [ProjectDB].[dbo].[tblTicket] a
		JOIN  [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
		JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
		WHERE  a.TicketId =  @@TicketID and c.Active = 0 ORDER BY c.AssignedDate DESC;

		INSERT INTO [ProjectDB].[dbo].[tblTicketTaskAssign] ([ticketProjectId],[AssignedFrom],[AssignedTo],[AssignedDate],[Active],[StatustId])
		VALUES (@@TicketPeojectId,@@PreviousUser,@@AssignedTo,GETDATE(),1,1)

			INSERT INTO [ProjectDB].[dbo].[tblTicketComment] ([TicketID],[Comment],[CommentedDate],[CommentedBy])
			VALUES (@@TicketID,'Ticket Rejected by ' + (SELECT UserName FROM [ProjectDB].[dbo].[tblUser] where UserId= @@PreviousUser)+' ',GETDATE(),@@PreviousUser)


		select 4;
		--Insert Comment
	END


END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageWareHouse]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2023 12 30
-- Description:	sp for Manage WareHouse
-- =============================================
--  EXEC [dbo].[sp_ManageWareHouse] 2,6,'asfdafasss'

CREATE PROCEDURE [dbo].[sp_ManageWareHouse] 
    @dataType int,
    @ProductCategory int,
    --@MasterStore int,
    @SerialNo NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @InsertedId INT;
	DECLARE @ReturnMessage NVARCHAR(MAX);
	Declare @MasterStorePercesedCount INT, @InventoryDataCount INT , @InventoryIn INT , @InventoryOut INT;

	DECLARE @TempTable AS TABLE (ProductCategoryId INT,[MasterId] INT,[SerialNumber] NVARCHAR(MAX),[ToTheStore] BIT,[ToTheOutside] BIT,[InsertedDate] DATETIME NULL,[OutedDateFromStore] DATETIME NULL)
	--start

	--Check


		

	SET @MasterStorePercesedCount = (SELECT b.perchesedCount FROM [ProjectDB].[dbo].[tblProductCategories] a 
	JOIN [ProjectDB].[dbo].[tblMasterStore] b ON a.ProductID = b.ProductId where a.ProductID = @ProductCategory);

	
	SET @InventoryIn = (		SELECT count(c.ToTheStore) FROM [ProjectDB].[dbo].[tblMasterStore] b JOIN
	[ProjectDB].[dbo].[tblInventoryData] c on b.mStoreId = c.MasterId where c.ToTheStore = 1
	and b.ProductId = @ProductCategory )

	SET @InventoryOut	=(SELECT count(c.ToTheOutside) FROM [ProjectDB].[dbo].[tblMasterStore] b JOIN
	[ProjectDB].[dbo].[tblInventoryData] c on b.mStoreId = c.MasterId where c.ToTheOutside = 1
	and b.ProductId = @ProductCategory)
	
	---Select @MasterStorePercesedCount, @InventoryIn,@InventoryOut
	--end
	IF(@MasterStorePercesedCount >= (@InventoryIn+@InventoryOut))
	BEGIN

	
        INSERT INTO [ProjectDB].[dbo].[tblInventoryData] 
        ([ProductCategoryId],[MasterId],[SerialNumber],[ToTheStore],[ToTheOutside],[InsertedDate],[OutedDateFromStore])
        VALUES 
        (@ProductCategory, (SELECT b.mStoreId 
		FROM tblProductCategories a
		JOIN tblMasterStore b on a.ProductID = b.ProductId
		where a.ProductID = @ProductCategory),
		@SerialNo,CASE WHEN @dataType = 1 THEN 1 ELSE 0 END,CASE WHEN @dataType = 2 THEN 1 ELSE 0 END, CASE WHEN @dataType = 1 THEN GETDATE() ELSE NULL END, 
         CASE WHEN @dataType = 2 THEN GETDATE() ELSE NULL END);
       
		SELECT  'Successfully Inserted !!!' AS  RESULT;

	END
	ELSE
	BEGIN
	SELECT 'Master Stock is Over!!!' AS RESULT;
	END




END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaleItem]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-01-15
-- Description:	spForSaleItem
--- EXEC sp_SaleItem 'buddhika perera','0768875415','sasankabudsadddhi@gmail.com','59/4 horana mabiliyakanda','123456789','fds4s65f4s', 1000,5000,24

-- =============================================
CREATE PROCEDURE [dbo].[sp_SaleItem] (@@cName nvarchar(max),@@cContact nvarchar(15), 
@@cEmail nvarchar(200),@@cAddress nvarchar(max),@@Password nvarchar(max), 
@@SerialNo nvarchar(max),@@Discount decimal(18,2),@@Price decimal(18,2),@@Warrenty int)

AS

DECLARE @@NewCoustomerID AS INT , @@InventoryId AS INT;
--Declare
BEGIN
	SET NOCOUNT ON;
		SET @@InventoryId = (SELECT top 1 InventoryID FROM [dbo].[tblInventoryData] WHERE SerialNumber = @@SerialNo order by InsertedDate desc);

		
		
		IF(@@InventoryId IS NOT NULL)
		BEGIN
			-- Coustomer Registration
		INSERT INTO [ProjectDB].[dbo].[tblCoustomerDetails]  ([CoustomerName], [Address], [Email], [ContactNumber], [UserName], [Password], [Active],CreatedDate)
		VALUES (@@cName,@@cAddress,@@cEmail,@@cContact,SUBSTRING(@@cName, 1, CHARINDEX(' ', @@cName) - 1),@@Password,1,GETDATE());
		SET @@NewCoustomerID = SCOPE_IDENTITY();
	
		
		-- SaleDetails 
		INSERT INTO[ProjectDB].[dbo].[tblSalesDetails] ([InventoryId],[CoustomerId],[Discount],[SoldPrice],CreatedDate)values 
		(@@InventoryId, @@NewCoustomerID,@@Discount, @@Price, GETDATE())

		UPDATE [ProjectDB].[dbo].[tblInventoryData] set ToTheStore = 0 , ToTheOutside = 1, OutedDateFromStore = GETDATE() where InventoryID = @@InventoryId;
	
		-- Master warrenty
		EXEC  sp_InsertNewWarrenty @@InventoryId, @@Warrenty 
			SELECT 1

	END
	ELSE BEGIN
		SELECT 0
	END
END


--select * from tblInventoryData
GO
/****** Object:  StoredProcedure [dbo].[sp_TicketManagementReport]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2024-03-30	
-- Description:	sp for Ticket Management Reports
----ReportTypeValue	ReportTypeName
----1	Pending Tickets
----2	Tickets In Handlers
----3	Tickets In Manager
----4	Closed Tickets

--	exec [dbo].[sp_TicketManagementReport] '2023-02-02 00:00:00.001','2024-05-02 00:00:00.001',3,4

-- =============================================
CREATE PROCEDURE [dbo].[sp_TicketManagementReport](@@FromDate DATETIME,@@ToDate DATETIME,@@ReportCategory INT,@@ReportType INT)
AS

DECLARE @@TempTable AS TABLE ( COL1 NVARCHAR(MAX),COL2 NVARCHAR(MAX), COL3 NVARCHAR(MAX),COL4 NVARCHAR(MAX))
BEGIN
	SET NOCOUNT ON;

	IF (@@ReportCategory = 3 AND @@ReportType = 1) --Pending Ticket
	BEGIN
	INSERT INTO @@TempTable(COL1, COL2)
		SELECT 'TIcket ID: '+Convert(NVARCHAR(MAX),a.TicketId), 'Ticket Inserted By :' +d.CoustomerName+
		 'For Serial No: '+ b.SerialNumber+' on:'+ CONVERT(NVARCHAR(MAX), a.CreatedDate)
		FROM [ProjectDB].[dbo].[tblTicket] a
		LEFT JOIN [ProjectDB].[dbo].[tblInventoryData] b on a.InventoryID = b.InventoryID
		LEFT JOIN [ProjectDB].[dbo].[tblSalesDetails] c on b.InventoryID =  c.InventoryId 
		LEFT JOIN [ProjectDB].[dbo].[tblCoustomerDetails] d on c.CoustomerId= d.CoustomerId
		where a.InventoryID IS NOT NULL AND IsOpen IS NULL AND IsClosed IS NULL AND OpenedDate IS NULL AND ClosedDate IS NULL
		AND a.CreatedDate BETWEEN @@FromDate AND @@ToDate

	
	END

	IF (@@ReportCategory= 3 AND @@ReportType in(2,3))  --Tickets In Handlers   & Tickets In Manager
	BEGIN	
		INSERT INTO @@TempTable(COL1, COL2,COL3)
		SELECT 'Ticket ID: '+CONVERT(NVARCHAR(30),a.TicketId) , 
		'Assigned to '+f.SequnceName+' on : ' +	CONVERT(NVARCHAR(30),c.AssignedDate),
		'Current assigned user : ' +  g.FirstName +' '+g.LastName
		FROM [ProjectDB].[dbo].[tblTicket] a 
		LEFT JOIN [ProjectDB].[dbo].[tblTicketProjectDtl] b on a.TicketId = b.TicketId
		LEFT JOIN [ProjectDB].[dbo].[tblTicketTaskAssign] c on b.TicketProjectId = c.ticketProjectId
		LEFT JOIN [ProjectDB].[dbo].[tblTicketComment] e on a.TicketId  = e.TicketID
		LEFT JOIN [ProjectDB].[dbo].tblMasterTicketSequnces f on b.CurrentSeqence = f.SequanceIndexID
		LEFT JOIN [ProjectDB].[dbo].[tblUser] g on c.AssignedTo = g.UserId
		WHERE b.CurrentSeqence = @@ReportType AND a.IsClosed IS  NULL AND 
		c.AssignedDate between @@FromDate and @@ToDate
	END

	IF (@@ReportCategory = 3 AND @@ReportType = 4) --Closed Ticket
	BEGIN
		INSERT INTO @@TempTable(COL1, COL2,COL3)
		SELECT 'Ticket Id : '+CONVERT(NVARCHAR(30),a.TicketId)
		,'Ticket Opened on : '+ CONVERT(NVARCHAR(30),a.OpenedDate) 
		,'Ticket Closed on : '+ CONVERT(NVARCHAR(30),a.ClosedDate) 
		FROM [ProjectDB].[dbo].[tblTicket]  a
		where a.IsClosed = 1 AND a.ClosedDate IS NOT NULL 
		AND a.ClosedDate between @@FromDate and @@ToDate
	END

	SELECT * FROM  @@TempTable
END



		
GO
/****** Object:  StoredProcedure [dbo].[sp_UserManageReport]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sasanka Buddhi	
-- Create date: 2024-03-20
-- Description:	Sp for User Manage Report
-- EXEC [dbo].[sp_UserManageReport] '2024-01-01','2024-10-30',1,3
-- =============================================

CREATE PROCEDURE [dbo].[sp_UserManageReport] (@@FromDate DATETIME,@@ToDate DATETIME, @@ReportCategory INT,@@ReportType INT)
AS

DECLARE @@TempTable AS TABLE (FullName NVARCHAR(200), CreateDate DATETIME,[Status] NVARCHAR(30),UserLevel NVARCHAR(200) NULL,Remark NVARCHAR(MAX) NULL)

BEGIN
	SET NOCOUNT ON;

	IF (@@ReportCategory = 1)
	BEGIN
		IF (@@ReportType IN (1,4))
		BEGIN
			INSERT INTO  @@TempTable (FullName, CreateDate,[Status],UserLevel,Remark)
			SELECT a.FirstName+' '+a.LastName, a.CreatedDate, 
			(CASE WHEN a.Active= 1 THEN 'Active' ELSE 'Deactivated' END),b.UserLevel,
			(CASE WHEN a.AssignedTicketSequnceGroup IS NOT NULL THEN c.SequnceName ELSE 'N/A' END)
			FROM [ProjectDB].[dbo].[tblUser] a
			LEFT join [ProjectDB].[dbo].[tblUserlLevel] b on a.UserLevel = b.UserlevelID
			LEFT join [ProjectDB].[dbo].[tblMasterTicketSequnces] c on a.AssignedTicketSequnceGroup = c.SequanceIndexID
			WHERE a.CreatedDate BETWEEN @@FromDate AND @@ToDate AND a.Active = CASE  WHEN @@ReportType = 1 THEN 1 WHEN @@ReportType = 4 THEN  0 END
			SELECT * FROM @@TempTable

		END
		IF (@@ReportType = 2)
		BEGIN
			INSERT INTO  @@TempTable (FullName, CreateDate,[Status],UserLevel,Remark)
			SELECT CoustomerName, CreatedDate,(CASE WHEN Active= 1 THEN 'Active' ELSE 'Deactivated' END),'Customer', 
		    (CASE WHEN ContactNumber IS NOT NULL THEN 'Mobile No: '+ContactNumber ELSE '' END)+ +
			(CASE WHEN Email IS NOT NULL THEN ' Email: ' +Email ELSE '' END)
			FROM [ProjectDB].[dbo].[tblCoustomerDetails] WHERE Active = 1 AND 
			CreatedDate BETWEEN @@FromDate AND @@ToDate
			SELECT * FROM @@TempTable
		END
		IF (@@ReportType = 3)
		BEGIN
			INSERT INTO  @@TempTable (FullName, CreateDate,[Status],UserLevel,Remark) 
			SELECT VendorName, CreateDate,(CASE WHEN Active= 1 THEN 'Active' ELSE 'Deactivated' END), 'Vendor',
			(CASE WHEN VendorContact IS NOT NULL THEN 'Mobile No: '+VendorContact ELSE '' END)+ +
			(CASE WHEN VendorEmail IS NOT NULL THEN ' Email: ' +VendorEmail ELSE '' END)+ +
			(CASE WHEN VendorAddress IS NOT NULL THEN ' Address: ' +VendorAddress ELSE '' END)
			FROM [ProjectDB].[dbo].[tblProductCategories] WHERE Active = 1
			AND CreateDate BETWEEN @@FromDate AND @@ToDate
			SELECT * FROM @@TempTable
		END 

	END


END
GO
/****** Object:  StoredProcedure [dbo].[sp_ViewAllInventoryData]    Script Date: 07/04/2024 21:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sasanka Buddhi
-- Create date: 2023-12-28
-- Description:	sp for get all inventory data to view current inventory status
--  EXEC  sp_ViewAllInventoryData NULL,NULL
-- =============================================
CREATE PROCEDURE [dbo].[sp_ViewAllInventoryData] (@FromDate DATETIME = NULL,@ToDATE DATETIME = NULL)
AS

DECLARE @@TempTableToView AS TABLE (BrandName NVARCHAR(30), VendorName NVARCHAR(30), VendorContact NVARCHAR(30), VendorEmail NVARCHAR(30), PerchesedCount INT, UnitPrice Decimal(18,2),TotalCost Decimal(18,2),InSaleInventory INT,NotInAnyStore INT, RemainingCount INT, ProductName Nvarchar(100))

BEGIN
	SET NOCOUNT ON;
	insert into @@TempTableToView  (BrandName,ProductName, VendorName, VendorContact, VendorEmail, PerchesedCount, UnitPrice,TotalCost,InSaleInventory,NotInAnyStore,RemainingCount)
	SELECT A.BrandName,A.ProductName, A.VendorName, A.VendorContact, A.VendorEmail,B.perchesedCount,B.unitPrice, (b.perchesedCount * b.unitPrice),(select count (ToTheStore) from tblInventoryData where ToTheStore = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId ),
	(select count (ToTheOutside) from tblInventoryData where ToTheOutside = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId ),
	(B.perchesedCount - ((select COUNT(ToTheOutside) from tblInventoryData where ToTheOutside = 1 AND ProductCategoryId = a.ProductID and MasterId = b.mStoreId)
	+(select COUNT(ToTheStore) from tblInventoryData where ToTheStore = 1 and ProductCategoryId = a.ProductID and MasterId = b.mStoreId))) 
	FROM tblProductCategories A 
	JOIN tblMasterStore B ON A.ProductID = B.ProductId
	left JOIN tblInventoryData C ON B.mStoreId = C.MasterId And b.ProductId = a.ProductID

	SELECT DISTINCT BrandName, VendorName, VendorContact, VendorEmail, PerchesedCount, UnitPrice,TotalCost,InSaleInventory,NotInAnyStore,RemainingCount,ProductName FROM @@TempTableToView  
END
GO
USE [master]
GO
