@model FileRecovery.Web.Models.SerialNarration
@{
    ViewBag.Title = "Serial File Narration";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.TabName = "Serial Narraion";
}
<div class="row containerBlock" id="ContainerBlock1" ng-app="myApp" ng-controller="Serialcontroller">
    <div class="col-md-12 col-lg-12 col-sm-12 ">
        <div class="col-md-12 col-lg-12 col-sm-12 containerstyle mt-0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href='@Url.Action("SerialAppCodeDetails","File")'>
                    <i class="fa fa-chevron-left backbtn" aria-hidden="true"></i>&nbsp;&nbsp; Back to File Search
                </a>
            </div>
            @*<div class="col-md-6 col-sm-12 displayNone overlay">
                    <div class="col-md-12 col-sm-12 form-group">
                        <strong class="col-md-5 col-sm-5 col-xs-5">App Code </strong>
                        <span ng-repeat="info in SyncApp" class="dtls">:  {{info.AppCode}} </span>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <strong class="col-md-5 col-sm-5 col-xs-5">Facility No </strong>
                        <span ng-repeat="info in SyncApp" class="dtls">:  {{info.FacilityNo}} </span>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <strong class="col-md-5 col-sm-5 col-xs-5">Reg No</strong>
                        <span ng-repeat="info in SyncApp" class="dtls">:  {{info.VehicleNo}} </span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 displayNone overlay">
                    <div class="col-md-12 col-sm-12 form-group">
                        <strong class="col-md-5 col-sm-5 col-xs-5">Applied Branch</strong>
                        <span class="dtls">: {{ AppliedBranch }} </span>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <strong class="col-md-5 col-sm-5 col-xs-5">Applied Date </strong>
                        <span ng-show="info in SyncApp" class="dtls">: {{AppliedDate}} </span>
                    </div>
                </div>*@

            <div class="col-md-12 col-sm-12 fs-l bb-color ">
                <div class="col-md-6 col-sm-12 form-group">
                    <span class="pr-15 ">Applied Branch</span>
                    <strong>: {{ AppliedBranch }} </strong>
                </div>
                <div class="col-md-6 col-sm-12 form-group text-right">
                    <span class="pr-15">Applied Date </span>
                    <strong>: {{AppliedDate}} </strong>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 pt-10">

                <div class="col-md-12 col-sm-12 collg-12 fs-l pb-5">
                    <div class="col-lg-6 col-md-4 col-sm-12 paddingH-0">
                        Application Details
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 text-right paddingH-0" style="color:#979797">
                        <span>{{TransferType}}</span>
                        <span ng-show="TransferDate != '-' && TransferDate != '' ">on {{TransferDate}}</span>
                        <span ng-show="TransferDate == '-'">and not courier yet</span>
                        <span ng-show="TransferDate == '' "> </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3" ng-repeat="info in SyncApp">
                    <fieldset class="cardSerial col-md-12 col-sm-12 col-lg-12">

                        <legend style="border: 1px #bebebe solid; border-radius:5px; background-color:#dddddd5e"><strong>{{info.AppCode}}</strong></legend>


                        @*<div class="col-md-12 col-sm-12 col-lg-12 p-0 pb-5">
                                <span>App Code : </span>
                                <strong class="dtls pl-10"> {{info.AppCode}} </strong>
                            </div>*@
                        <div class="p-0 m-0 col-sm-12 col-md-12 col-lg-12" ng-hide="info.FacilityNo == '-' && info.VehicleNo == '-'">
                            <div class="col-md-12 col-sm-12 col-lg-12 p-0 pb-5">
                                <span>Facility No : </span>
                                <span class="dtls pl-10 fw-600" style="font-style: italic;"> {{info.FacilityNo}} </span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12 p-0">
                                <span>Reg No : </span>
                                <span class="dtls pl-10 fw-600" style="font-style: italic;"> {{info.VehicleNo}} </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>


            <div class="col-md-12 col-sm-12 displayNone overlay">

                <div class="tab-container">
                    <!-- Tab 1 -->
                    <div class="tab-accordian">
                        <div class="titleWrapperbar inactive">
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                            <span class="card-title">
                                Master Details
                            </span>
                        </div>

                        <div id="descwrapper" class="desWrapper">
                            <div class="col-md-6 col-sm-12 form-group">
                                <span class="col-lg-6 col-md-7 col-sm-7 col-xs-7">Serial Number </span>
                                <strong>: {{ SerialNo }} </strong>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <span class="col-lg-6 col-md-7 col-sm-7 col-xs-7">Total Number of Files </span>
                                <strong>:  {{NoOfFiles}} </strong>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <span class="col-lg-6 col-md-7 col-sm-7 col-xs-7">Number of Files Active </span>
                                <strong>: {{ActiveFiles}} </strong>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <span class="col-lg-6 col-md-7 col-sm-7 col-xs-7">Number of Files Rejected </span>
                                <strong>: {{RejectedFiles}} </strong>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-12 col-lg-12 overlay" style="display:none">
        <div class="col-md-12 col-lg-12 col-sm-12 containerstyle">
            <div class="col-md-5 col-sm-12">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <strong>Sequence</strong>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 progressbar">
                    <ul ng-repeat="data in sequenceData" class="progressbar" id="progressbarNarration">
                        <li ng-if="data.Index > CurrentSequence">{{data.Sequence}}</li>
                        <li class="active" ng-if="data.Index < CurrentSequence">{{data.Sequence}}</li>
                        <li class="active" ng-if="data.Index == CurrentSequence && Active == false">{{data.Sequence}}</li>
                        <li class="activeCurrent" ng-if="data.Index == CurrentSequence && Active == true">{{data.Sequence}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 align-middle hidden-sm">
                <img ng-show="sequenceData.length > 9" src="~/Images/listnew.png" class="img-fluid" alt="" style="width:100%; height:auto; align-items:center">
                <div ng-show="sequenceData.length == 9 || sequenceData.length == 8 " class="col-md-12 col-sm-12" style="height:40px"> </div>
                <img ng-show="sequenceData.length <= 9" src="~/Images/list.png" class="img-fluid" alt="" style="width:100%; height:auto; align-items:center">
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="col-md-12 col-sm-12 col-lg-12 containerstyle">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-12 col-sm-12 col-xs-12 tblbgstyle displayNone overlay">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group mb-0">
                        <strong>Comment Histories</strong>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 text-right pb-10">
                        <div class="selector col-lg-3 col-md-4 col-sm-6 paddingH-0 float-right">
                            <div class="selecotr-item">
                                <input type="radio" id="RadioSerial" name="selector" class="selector-item_radio" ng-click="RadioSelection(1)" checked>
                                <label class="selector-item_label" for="RadioSerial">Serial Number</label>
                            </div>
                            <div class="selecotr-item">
                                <input type="radio" id="RadioFacility" name="selector" class="selector-item_radio" ng-click="RadioSelection(2)">
                                <label class="selector-item_label selecotr-item-border-left" for="RadioFacility">Facility Number</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group table-responsive pt-10">
                        <table class="table table-bordered">
                            <thead style="font-size: 11px; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: rgb(204, 204, 204);">
                                <tr style="background-color: #09213a;color: #fff;">
                                    <th class="text-center">Date & Time</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Comment</th>
                                    <th class="text-center">Comment By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="Value == 1" dir-paginate="repeat in commentData | itemsPerPage: pageSize " pagination-id="paginate1" current-page="currentPage" style="font-size: 12px; padding-top: 1px;" ng-class-odd="{'info':repeat}">
                                    <td class="text-center" ng-bind="repeat.CommentDate"></td>
                                    <td class="text-center" ng-bind="repeat.CommentHeader"></td>
                                    <td class="text-center" ng-bind="repeat.Comment"></td>
                                    <td class="text-center" ng-bind="repeat.CommentBy"></td>
                                </tr>
                                <tr ng-show="Value == 2" dir-paginate="repeat in commentDataFacility | itemsPerPage: pageSize" pagination-id="paginate2" current-page="currentPage" style="font-size: 12px; padding-top: 1px;" ng-class-odd="{'info':repeat}">
                                    <td class="text-center" ng-bind="repeat.CommentDate"></td>
                                    <td class="text-center" ng-bind="repeat.CommentHeader"></td>
                                    <td class="text-center" ng-bind="repeat.Comment"></td>
                                    <td class="text-center" ng-bind="repeat.CommentBy"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;" ng-show="Value == 1">
                            <dir-pagination-controls pagination-id="paginate1"></dir-pagination-controls>
                        </div>
                        <div style="text-align:center;" ng-show="Value == 2">
                            <dir-pagination-controls pagination-id="paginate2"></dir-pagination-controls>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <a href="#" onclick='topFunction()' id="myBtn" title="Go to top" class="smoothScroll"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
</div>

@Html.HiddenFor(X => X.SerialId, new { @id = "SerialId" })
@Html.HiddenFor(X => X.IsPartial, new { @id = "IsPartial" })
@Html.HiddenFor(X => X.AppCode, new { @id = "AppCode" })

<style>

    .container {
        padding: 2rem 0rem;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .containerstyle {
        background-color: #fff;
        padding: 20px 0 10px 0;
        margin-top: 10px;
    }

    .tblbgstyle {
        padding: 0px;
    }

    .backbtn {
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .containerstyle a {
        color: #3e6a99;
        font-weight: bold;
    }

        .containerstyle a:hover {
            color: #224fb6 !important;
        }

    .dtls {
        color: #5c5c5c;
    }

    ul {
        list-style: none;
    }

    .progressbar ul::after {
        content: "";
        position: absolute;
        width: 4px;
        height: calc(100% - 60px);
        left: 40px;
        top: 0;
        background: #081959;
        z-index: 1;
        margin-top: 29px;
    }

    .progressbar ul li {
        padding: 15px 0;
        text-decoration: none;
        position: relative;
        color: #081959;
        font-size: 1.5rem;
        line-height: 1rem;
        font-weight: 500;
        left: 10px;
        line-height: initial;
    }

        .progressbar ul li:before {
            content: "";
            position: absolute;
            background: #fff;
            width: 30px;
            height: 30px;
            left: -38px;
            top: 50%;
            z-index: 2;
            transform: translateY(-50%);
            border-radius: 50px;
            border: 4px solid #081959;
        }

    .progressbar li.active:after {
        background: #d2d3ff
    }

    .progressbar li.active:before {
        background: #d4ffff;
        font-family: FontAwesome;
        content: "\f00c";
        padding-left: 4px;
        padding-top: 4px;
    }

    .progressbar li.active {
        font-weight: 600;
        color: #081959;
    }

    .progressbar li.activeCurrent {
        font-weight: 600;
        font-size: 18px;
    }

        .progressbar li.activeCurrent:before {
            background: #eaf4ff;
            font-family: FontAwesome;
            content: "\f068";
            padding-left: 4px;
            padding-top: 3px;
        }

    .accordion .card-header:after {
        font-family: 'FontAwesome';
        content: "\f068";
        float: left;
        margin-right: 10px;
    }

    .accordion .card-header.collapsed:after {
        content: "\f067";
        margin-right: 10px;
    }

    .custom-control-label {
        color: #09213a;
    }

    .pagination > .active > a {
        background-color: #09213a !important;
        border-color: #09213a !important;
    }
</style>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular/angular-animate.js"></script>
<script src="~/Scripts/angular/ui-bootstrap-tpls-1.3.2.min.js"></script>
<script src="~/Scripts/angular/services/app.js"></script>
<script src="~/Scripts/angular/services/FileService.js"></script>
<script src="~/Scripts/alertify/alertify.js"></script>
<script src="~/Scripts/angular/dirPagination.js" type="text/javascript"></script>
<link href="~/Content/alertify/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Content/alertify/alertify.core.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/custom.css" rel="stylesheet" />
<script>
    $(window).load(function () {
        $(".overlay").delay(700).fadeIn();
    });
    //Get the button:
    mybutton = document.getElementById("myBtn");
    //show scroll btn
    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    //Scroll animation
    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    }
    //expanding animation
    jQuery(document).ready(function () {
        jQuery('.titleWrapperbar').click(function () {
            var toggle = jQuery(this).next('div#descwrapper');
            jQuery(toggle).slideToggle("slow");
        });
        jQuery('.inactive').click(function () {
            jQuery(this).toggleClass('inactive active');
        });
    });

</script>