
@{
    ViewBag.Title = "UserManagementReportForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory Management Report Form</h2>


<div class="row containerBlock" id="form" ng-app="myapp" ng-controller="MyController" ng-init="LoadInventoryManagementReportData()" style="margin-bottom:10Px;">


    <div class="row" style="width:100%; margin-left:5%;  margin-right:5%;">
        <div class="col-2" style="text-align: center;">
            <label>From</label>
        </div>
        <div class="col-2" style="text-align: center;">
            <label>To</label>
        </div>
        <div class="col-3" style="text-align: center;">
            <label>Report Type</label>
        </div>
        <div class="col-4">

        </div>

    </div>
    <div class="row" style="width:100%; margin-left:5%;  margin-right:5%;">
        <div class="col-2">
            <input type="date" class="form-control" name="UserReportFormDate" id="UserReportFormDate" ng-model="InventoryReportFormDate" />
        </div>
        <div class="col-2">
            <input type="date" class="form-control" name="UserReportToDate" id="UserReportToDate" ng-model="InventoryReportToDate" />
        </div>
        <div class="col-3">
            <select id="droReportType" name="droReportType" ng-model="droReportType" class="form-control" required>
                <option value="">Select Report Type</option>
                <option ng-repeat="item in droReportTypeList" value="{{item.Value}}">{{item.Name}}</option>
            </select>
        </div>
        <div class="col-2">
            <button class="custom-button" style="width:100%" ng-click="SearchInventoryManagementReport()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="col-2">
            <button class="custom-button" style="width:100%" ng-click="DewonloadInventoryManagementReport()"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="row" style="width:100%; margin-left:5%;  margin-right:5%; padding-top:15px; ">

        @*<table style="width:100%;">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Registerd By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                    <td>Data 4</td>
                    <td>Data 5</td>
                </tr>
            </tbody>
        </table>*@



    </div>





</div>

<style>
    .bold-item {
        font-weight: bold;
        font-size: 18px;
    }

    .Strong-item {
        font-weight: bold;
        font-size: 24px;
    }

    .normal-item {
        font-size: 18px;
    }

    .custom-button {
        height: 90%;
        background-color: #1a2c34;
        border-radius: 10px;
        float: left;
        border: 0px;
        color: #fff;
        width: 100%;
        -webkit-transition-duration: 0.9s;
        -webkit-transition-timing-function: linear;
        box-shadow: 0px 0 0 #2e4f5e inset;
    }

        .custom-button:hover {
            box-shadow: 700Px 0 0 #2e4f5e inset;
        }
</style>




<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular/angular-animate.js"></script>
<script src="~/Scripts/angular/ui-bootstrap-tpls-1.3.2.min.js"></script>
<script src="~/Scripts/angular/services/app.js"></script>
<script src="~/Scripts/waitme/waitMe.js"></script>
<script src="~/Scripts/waitme/waitMe.min.js"></script>
<script src="~/Scripts/angular/services/ReportServices.js"></script>
<script src="~/Scripts/alertify/alertify.js"></script>
<link href="~/Content/waitMe/waitMe.css" rel="stylesheet" />
<link href="~/Content/waitMe/waitMe.min.css" rel="stylesheet" />
<link href="~/Content/alertify/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/custom.css" rel="stylesheet" />
<link href="~/Content/alertify/alertify.core.css" rel="stylesheet" />
<script src="~/Scripts/jqueryval/jquery.validate.min.js"></script>
<script src="~/Scripts/jqueryval/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Scripts/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />