
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="TicketId" value="@ViewBag.ticketID" />
<div class="col-md-12 col-lg-12 col-sm-12 " ng-app="myapp" ng-controller="MyController" ng-init="LoadTicketdetailsToManage()">

    <div class="row containerstyle bb-color">

        <div class="col-6 ">
            <div class="row bb-color " style="text-align:center; margin: 1%;">
                <h5>Ticket Details</h5>
            </div>
            <div class="row form-group">
            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15 ">Ticket Number</span>
                </div>
                <div class="col-7">
                    <strong>: {{ TicketNumber }} </strong>
                </div>

            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15">Ticket Date </span>
                </div>
                <div class="col-7">
                    <strong>: {{TicketDate}} </strong>
                </div>
            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15">Ticket Description </span>
                </div>
                <div class="col-7">
                    <strong>: {{TicketDescription}} </strong>
                </div>
            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15">Current Level</span>
                </div>
                <div class="col-7">
                    <strong>: {{CurrentSequence}} </strong>
                </div>
            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15">Assigned From</span>
                </div>
                <div class="col-7">
                    <strong>: {{AssignedFrom}} </strong>
                </div>
            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15">Serial Number</span>
                </div>
                <div class="col-7">
                    <strong>: {{SerialNumber}} </strong>
                </div>
            </div>

            <div class="row  form-group text-left">
                <div class="col-5">
                    <span class="pr-15">Ticket Current Status</span>
                </div>
                <div class="col-7">
                    <strong>: {{TicketStatus}} </strong>
                </div>
            </div>

        </div>

        <div class="col-6  ">
            <div class="row bb-color" style="text-align:center; margin: 1%;">
                  <h5>  Sequence Details</h5>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-md-12 col-lg-12 overlay">
                    <div class="col-md-12 col-lg-12 col-sm-12 containerstyle">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-12 col-sm-12 col-xs-12 progressbar">
                                <ul ng-repeat="data in SequenceData" class="progressbar" id="progressbarNarration">
                                    <li ng-class="{ 'bold-item' : CurrentSequnceIndex>
                                        data.SequenceLists.SequenceIndexId,
                                        'Strong-item': CurrentSequnceIndex === data.SequenceLists.SequenceIndexId,
                                        'normal-item': !(CurrentSequnceIndex > data.SequenceLists.SequenceIndexId) && !(CurrentSequence === data.SequenceLists.SequenceName)
                                        }">
                                        {{data.SequenceLists.SequenceName}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-cols-md-12 row-cols-lg-12 row-cols-sm-12 containerstyle mt-0 ">
        <div class="form-group table-responsive ">
            <h5>  Sequence Details</h5>
            <table class="table table-bordered" style="margin-bottom:20px;">
                <thead style="font-size: 8px; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: rgb(204, 204, 204);">
                    <tr style="background-color: #1a2c34;color: #fff; width:100%">
                        <th class="text-center">Comment Date</th>
                        <th class="text-center">Comment</th>
                        <th class="text-center">Comment By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repeat in TicketComment | orderBy : '-Id'" ng-class-odd="{'gray': datatable}">
                        <td class="text-center" ng-if="repeat.TicketComment !== null" ng-bind="repeat.TicketComment.CommentedDate"></td>
                        <td class="text-center" ng-if="repeat.TicketComment !== null" ng-bind="repeat.TicketComment.Comment"></td>
                        <td class="text-center" ng-if="repeat.TicketComment !== null" ng-bind="repeat.TicketComment.CommentedBy"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<style>
    .bold-item {
        font-weight: bold;
        font-size: 18px;
        opacity:0.3;
    }

    .Strong-item {
        font-weight: bold;
        font-size: 18px;
    }

    .normal-item {
        font-size: 18px;
        opacity:0.3;
    }

    .custom-button {
        height: 50px;
        background-color: #1a2c34;
        border-radius: 10px;
        margin: 5px;
        float: left;
        border: 0px;
        color: #fff;
        width: 100%;
        -webkit-transition-duration: 0.9s;
        -webkit-transition-timing-function: linear;
        box-shadow: 0px 0 0 #2e4f5e inset;
    }

        .custom-button:hover {
            box-shadow: 700Px 0 0 #2e4f5e inset;
        }
</style>



<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular/angular-animate.js"></script>
<script src="~/Scripts/angular/ui-bootstrap-tpls-1.3.2.min.js"></script>
<script src="~/Scripts/angular/services/app.js"></script>
<script src="~/Scripts/waitme/waitMe.js"></script>
<script src="~/Scripts/waitme/waitMe.min.js"></script>
<script src="~/Scripts/angular/services/TicketService.js"></script>
<script src="~/Scripts/alertify/alertify.js"></script>
<link href="~/Content/waitMe/waitMe.css" rel="stylesheet" />
<link href="~/Content/waitMe/waitMe.min.css" rel="stylesheet" />
<link href="~/Content/alertify/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/custom.css" rel="stylesheet" />
<link href="~/Content/alertify/alertify.core.css" rel="stylesheet" />
<script src="~/Scripts/jqueryval/jquery.validate.min.js"></script>
<script src="~/Scripts/jqueryval/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Scripts/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
